/*--- outer elements ---*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: {if $SKIN->Get_MainFont()}{$SKIN->Get_MainFont()->Get_Family()}, {$SKIN->Get_MainFont()->Get_FallbackFamily()}{else}helvetica, verdana{/if};
    font-size: {if $SKIN->Get_MainFont()}{$SKIN->Get_MainFont()->Get_Style()->Get_Size()}{else}16px{/if};
    color: {if $SKIN->Get_MainFont()}{$SKIN->Get_MainFont()->Get_Style()->Get_Color()}{else}#333333{/if};
    background-color: {$SKIN->Get_ContentBackgroundColor()};
	cursor: auto;
}
body.Loading,
body.Loading *
{
	cursor:wait;
}

/*--- block elements that define independent areas of content that should normally have some spacing beneath ---*/
article,aside,figure,header,hgroup,section,p,ul,ol,.Console,.CodeContainer,.Notification,.Panel, .Alert
{
    display: block;
	margin-bottom: {$SKIN->Get_VerticalElementSeparation()};
}

*[hidden],
template
{
	display: none !important;
}