table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1em;
}
table th,
table td {
    padding: .5em;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
table thead th, table th
{
	background-color: #efeff5;
    font-weight: normal;
    font-size: 90%;
}
table thead:first-of-type th
{
    border-bottom: solid 1px #dfdfe5;
}
table th[scope="rowgroup"], table th[scope="rowgroup"]~th
{
	background-color: #eff5ef;
    border-bottom: solid 1px #dfe5df;
    border-top: solid 1px #dfdfe5;
}
table thead th {
    vertical-align: bottom;
}

table caption
{
	text-align: left;
}

table tbody + tbody {
    border-top: 2px solid #dddddd;
}
table tbody tr:hover td,
table tbody tr:hover th {
    background-color: #f5f5f5;
}
table caption
{
	background-color: #e5e5e5;
	font-size: 80%; font-weight: normal;
	padding: .25em .25em .25em .5em;
}

table.Striped tbody tr:nth-child(odd) td,
table.Striped tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
table.NoHover tbody tr:hover td,
table.NoHover tbody tr:hover th {
    background-color:transparent;
}