ul,ol 
{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0px;
}

ul 
{
    list-style: disc;
}

ol 
{
    list-style: decimal;
}

ul>ul, ol>ol
{
	font-size: 95%;
}

ul .Title
{
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: bold;
    width: auto;
}
ul.Horizontal li
{
    display: inline;
}