a,a:focus,a:hover,a:active,
button.CommandLink
{
    color: {$SKIN->Get_ActionColor()};
    text-decoration: none;
	outline-color: transparent;
}
a:hover,
button.CommandLink:hover
{
    color: {$SKIN->Get_ActiveActionColor()};
}

button.CommandLink.Warning:hover, .Warning button.CommandLink:hover,
a.Warning:hover:not(.Button), .Warning a:hover:not(.Button) {
    color: #A47E3C;
}

button.CommandLink.Error:hover, .Error button.CommandLink:hover,
a.Error:hover:not(.Button), .Error a:hover:not(.Button) {
    color: #953B39;
}

button.CommandLink.Info:hover, .Info button.CommandLink:hover,
a.Info:hover:not(.Button), .Info a:hover:not(.Button) {
    color: #2D6987;
}

button.CommandLink.Success:hover, .Success button.CommandLink:hover,
a.Success:not(.Mark):not(.Button), .Success a:hover:not(.Mark):not(.Button) {
    color: #356635;
}

a.Active,
.Active>a,
a.Active:hover,
.Active>a:hover,
button.CommandLink.Active,
.Active>button.CommandLink,
button.CommandLink.Active:hover,
.Action button.CommandLink:hover
{
    background-color: #f5f5f5;
    color: #999999;
    cursor: default;
}
a[disabled], a.Disabled,
button.CommandLink[disabled], button.CommandLink.Disabled
{
    color: #999999;
    cursor: default;
}