h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: {$SKIN->Get_HeadingFont()->Get_Family()}, {$SKIN->Get_HeadingFont()->Get_FallbackFamily()};
    font-weight: {$SKIN->Get_HeadingFont()->Get_Style()->Get_Weight()};
    text-rendering: optimizelegibility;
	margin-bottom: .1em;
	margin-top: 0px;
	color: {$SKIN->Get_HeadingFont()->Get_Style()->Get_Color()};
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
}
h1 
{
	font-size: 200%;
}
h2 {
	font-size: 180%;
}
h3 {
	font-size: 160%;
}
h4 {
	font-size: 140%;
}
h5 {
	font-size: 120%;
}
h6 {
	font-size: 100%;
}
hgroup h1+h2,
hgroup h1+h3,
hgroup h1+h4,
hgroup h1+h5,
hgroup h1+h6,
hgroup h2+h3,
hgroup h2+h4,
hgroup h2+h5,
hgroup h2+h6,
hgroup h3+h4,
hgroup h3+h5,
hgroup h3+h6,
hgroup h4+h5,
hgroup h4+h6,
hgroup h5+h6
{
	font-weight: normal;
	margin-bottom: 0;
}