button,
.Button {
    background-color: #ffffff;
    display: inline-block;
    padding: .3em .75em;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-position: center center;
    font-size: 100%;
    color: {$SKIN->Get_ActiveActionColor()};
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/*	a button that looks like a hyperlink.  
	We use a button instead of hyperlink for semantic reasons. 
	If the command is not actually a link, but is a command, then a button should be used.
*/
button.CommandLink,
button.CommandLink:hover,
button.CommandLink:focus
{
	border: none;
	background: none;
	padding: 0;
    outline: none;
}
button:hover,
button:active,
button.Active,
button.Disabled,
button[disabled],
.Button:hover,
.Button:active,
.Button.Active,
.Button.Disabled,
.Button[disabled] {
    background-color: #fafedc;
}
button:active,
button.Active,
.Button:active,
.Button.Active {
    background-color: #fafadc;
}
.Button:hover,
button:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
}
.Button:focus ,
button:focus {
    outline: none;
}

button.Disabled,
button[disabled],
.Button.Disabled,
.Button[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
}
li.Button
{
    padding: 0;
}
li.Button a
{
    display: block;
}

button.Primary,
button.Primary:hover,
button.Warning,
button.Warning:hover,
button.Urgent,
button.Urgent:hover,
button.Success,
button.Success:hover,
button.Info,
button.Info:hover,
button.Inverse,
button.Inverse:hover,
.Button.Primary,
.Button.Primary:hover,
.Button.Warning,
.Button.Warning:hover,
.Button.Urgent,
.Button.Urgent:hover,
.Button.Success,
.Button.Success:hover,
.Button.Info,
.Button.Info:hover,
.Button.Inverse,
.Button.Inverse:hover,
button.Primary a,
button.Primary:hover a,
button.Warning a,
button.Warning:hover a,
button.Urgent a,
button.Urgent:hover a,
button.Success a,
button.Success:hover a,
button.Info a,
button.Info:hover a,
button.Inverse a,
button.Inverse:hover a,
.Button.Primary a,
.Button.Primary:hover a,
.Button.Warning a,
.Button.Warning:hover a,
.Button.Urgent a,
.Button.Urgent:hover a,
.Button.Success a,
.Button.Success:hover a,
.Button.Info a,
.Button.Info:hover a,
.Button.Inverse a,
.Button.Inverse:hover a
{
    color: #ffffff;
}

button.Primary.Active,
button.Warning.Active,
button.Urgent.Active,
button.Success.Active,
button.Info.Active,
button.Inverse.Active,
.Button.Primary.Active,
.Button.Warning.Active,
.Button.Urgent.Active,
.Button.Success.Active,
.Button.Info.Active,
.Button.Inverse.Active {
    color: rgba(255, 255, 255, 0.75);
}
button,.Button {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.Button.Primary, button.Primary {
    background-color: #0074cc;
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

button.Primary:hover,
button.Primary:active,
button.Primary.Active,
button.Primary.Disabled,
button.Primary[disabled],
.Button.Primary:hover,
.Button.Primary:active,
.Button.Primary.Active,
.Button.Primary.Disabled,
.Button.Primary[disabled] {
    background-color: #0055cc;
}
button.Primary:active,
button.Primary.Active,
.Button.Primary:active,
.Button.Primary.Active {
    background-color: #004099;
}

button.Warning,
.Button.Warning {
    background-color: #faa732;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

button.Warning:hover,
button.Warning:active,
button.Warning.Active,
button.Warning.Disabled,
button.Warning[disabled],
.Button.Warning:hover,
.Button.Warning:active,
.Button.Warning.Active,
.Button.Warning.Disabled,
.Button.Warning[disabled] {
    background-color: #f89406;
}
button.Warning:active,
button.Warning.Active,
.Button.Warning:active,
.Button.Warning.Active {
    background-color: #c67605;
}
.Button.Urgent,button.Urgent {
    background-color: #da4f49;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
button.Urgent:hover,
button.Urgent:active,
button.Urgent.Active,
button.Urgent.Disabled,
button.Urgent[disabled],
.Button.Urgent:hover,
.Button.Urgent:active,
.Button.Urgent.Active,
.Button.Urgent.Disabled,
.Button.Urgent[disabled] {
    background-color: #bd362f;
}
button.Urgent:active,
button.Urgent.Active,
.Button.Urgent:active,
.Button.Urgent.Active {
    background-color: #942a25;
}
button.Success,
.Button.Success {
    background-color: #5bb75b;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
button.Success:hover,
button.Success:active,
button.Success.Active,
button.Success.Disabled,
button.Success[disabled],
.Button.Success:hover,
.Button.Success:active,
.Button.Success.Active,
.Button.Success.Disabled,
.Button.Success[disabled] {
    background-color: #51a351;
    *background-color: #499249;
}
button.Success:active,
button.Success.Active,
.Button.Success:active,
.Button.Success.Active {
    background-color: #408140;
}
button.Info,
.Button.Info {
    background-color: #49afcd;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
button.Info:hover,
button.Info:active,
button.Info.Active,
button.Info.Disabled,
button.Info[disabled],
.Button.Info:hover,
.Button.Info:active,
.Button.Info.Active,
.Button.Info.Disabled,
.Button.Info[disabled] {
    background-color: #2f96b4;
    *background-color: #2a85a0;
}
button.Info:active,
button.Info.Active,
.Button.Info:active,
.Button.Info.Active {
    background-color: #24748c;
}
.Button.Inverse,button.Inverse {
    background-color: #414141;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
button.Inverse:hover,
button.Inverse:active,
button.Inverse.Active,
button.Inverse.Disabled,
button.Inverse[disabled],
.Button.Inverse:hover,
.Button.Inverse:active,
.Button.Inverse.Active,
.Button.Inverse.Disabled,
.Button.Inverse[disabled] {
    background-color: #222222;
}
button.Inverse:active,
button.Inverse.Active,
.Button.Inverse:active,
.Button.Inverse.Active {
    background-color: #080808;
}

button.Plain {
    background: none;
    border: none;
}

button .Expandable,
.Button .Expandable {
    margin-top: 7px;
    margin-left: 0;
}
button:hover.Expandable,
.Button:hover.Expandable {
    opacity: 1;
    filter: alpha(opacity=100);
}

button.Tab
{
    border-bottom: none;
    color: #666666;
    font-size: 85%;
    border-width: 1px;
    padding: .5em;
    margin-bottom: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    outline: none;
    z-index: 40;
}
button.Tab:first-child
{
    border-left-width: 1px;
}
button.Tab:last-child
{
    border-right-width: 1px;
}
button.Tab.Active, button.Tab.Selected
{
    color: {$SKIN->Get_ActiveActionColor()};
    border-width: 1px;
    margin-bottom: -1px;
    z-index: 50;
}