sub,sup { font-size: 75%; }
sub { vertical-align: sub; }
sup { vertical-align: super; }
strong { font-weight: bold; }
em { font-style: italic; }
small { font-size: 80%; }

.Accent
{
    font-family: {if $SKIN->Get_AccentFont()}{$SKIN->Get_AccentFont()->Get_Family()}, {$SKIN->Get_AccentFont()->Get_FallbackFamily()}{else}serif{/if};
    font-size: {if $SKIN->Get_AccentFont()}{$SKIN->Get_AccentFont()->Get_Style()->Get_Size()}{else}.8em{/if};
    font-style: italic;
    color: {if $SKIN->Get_AccentFont()}{$SKIN->Get_AccentFont()->Get_Style()->Get_Color()}{else}#666666{/if};
}