dl
{
    background-color: rgba(255,255,255,.7);
    border-collapse: collapse;
    border-spacing: 0;
	display: block;
    list-style: none;
    max-width: 100%;
    min-height: 20px;
    text-align: left;
    vertical-align: top;
}

dl dt
{
	background-color: #dfdfdf;
	color: #333333;
	display: block;
	font-weight: normal;
	padding: 4px;
}

dl dd
{
    background-color: rgba(255,255,255,.9);
	display: block;
    line-height: normal;
    text-align: left;
    vertical-align: middle;
	margin: 0 0 9px 0;
	padding: 8px;
    border-top: 1px solid #eeeeee;
    border: 1px solid #eeeeee;
}

dl > a
{
    background-color: #96c6e6;
    color: #ffffff;
    display: block;
    height: 100%;
    padding: 8px;
    text-decoration: none;
    width: 100%;
}
dl a:hover,
dl a.Active,
dl dt.Active>a
dl dd.Active>a
{
    background-color: #dedede;
    text-decoration: none;
}