blockquote.Float.Right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eeeeee;
    border-left: 0;
}
blockquote.Float.Right p,
blockquote.Float.Right small {
    text-align: right;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 18px;
    border-left: 5px solid #eeeeee;
}
blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.5px;
}
blockquote small {
    display: block;
    line-height: 18px;
    color: #999999;
}
blockquote small:before {
    content: '\2014 \00A0';
}
blockquote:before,
blockquote:after {
    content: "";
}