/* textbox placeholder */
:-moz-placeholder {
    color: #999999;
}
:-ms-input-placeholder {
    color: #999999;
}
::-webkit-input-placeholder {
    color: #999999;
}

/* buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

/* misc input */
input, select, textarea 
{
    font-family: {if $SKIN->Get_AccentFont()}{$SKIN->Get_AccentFont()->Get_Family()}, {$SKIN->Get_AccentFont()->Get_FallbackFamily()}{else}serif{/if};
    font-size: 100%;
    font-weight: normal;
}
button
{
    font-family: {if $SKIN->Get_MainFont()}{$SKIN->Get_MainFont()->Get_Family()}, {$SKIN->Get_MainFont()->Get_FallbackFamily()}{else}sans-serif{/if};
    font-size: 100%;
    font-weight: normal;
}
input, select, textarea 
{
    margin: 0;
    font-size: 100%;
}

input, select
{
    vertical-align: middle;
}

textarea 
{
    overflow: auto;
    vertical-align: top;
	text-align: left;
    height: auto;
}

select, textarea, input[type="regex"], input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"],
input[type="time"], input[type="week"],
input[type="number"], input[type="email"],
input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], [locked] 
{
    display: inline-block;
    padding: .5em;
}

textarea,
input[type="text"], input[type="regex"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"],input[type="week"],input[type="number"],
input[type="email"],input[type="url"],input[type="search"],
input[type="tel"],input[type="color"],[locked] 
{
    background-color: #ffffff;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    border-radius: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="regex"]:focus,
input[type="color"]:focus,
[locked]:focus 
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted;
}

input[type="radio"],
input[type="checkbox"],
input[type="radio"]:active,
input[type="checkbox"]:active,
input[type="radio"]:checked,
input[type="checkbox"]:checked
{
    margin: 0;
    line-height: normal;
    cursor: pointer;
    outline: none;
}

input[type="submit"],input[type="reset"],input[type="button"],
input[type="radio"],input[type="checkbox"] 
{
    width: auto;
}

[locked].Textarea 
{
    width: auto;
    height: auto;
}


/* search input */
input[type="search"],
input[type="search"]:focus
{
    -webkit-appearance: textfield;
    outline-style: none !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button 
{
    -webkit-appearance: none;
}

select 
{
    border: 1px solid #555;
}

select[multiple],
select[size] 
{
    height: auto;
}

input[class*="Spans"],select[class*="Spans"],textarea[class*="Spans"],
[locked][class*="Spans"],
.Auto.Grid .Row input[class*="Spans"],
.Auto.Grid .Row select[class*="Spans"],
.Auto.Grid .Row textarea[class*="Spans"],
.Auto.Grid .Row [locked][class*="Spans"] 
{
    float: none;
    margin-left: 0;
}

.Append input[class*="Spans"],
.Append [locked][class*="Spans"],
.Prepend input[class*="Spans"],
.Prepend [locked][class*="Spans"],
.Auto.Grid .Row .Prepend [class*="Spans"],
.Auto.Grid .Row .Append [class*="Spans"] 
{
    display: inline-block;
}

input,textarea,
[locked] {
    margin-left: 0;
}
input[disabled],select[disabled],textarea[disabled]
{
    cursor: not-allowed;
    background-color: #eeeeee;
    border-color: #ddd;
}
input[readonly],select[readonly],textarea[readonly] 
{
    border: 1px solid;
    cursor: not-allowed;
    background-color: #eeeeee;
    border-color: #ddd;
}
input[type="radio"][disabled],input[type="checkbox"][disabled],
input[type="radio"][readonly],input[type="checkbox"][readonly] 
{
    background-color: transparent;
}
form label.Disabled
{
    color: #999999;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid, 
input:focus:required.Invalid,
textarea:focus:required.Invalid,
select:focus:required.Invalid,
input:focus:required:invalid.InputStarted,
textarea:focus:required:invalid.InputStarted,
select:focus:required:invalid.InputStarted, 
input:focus:required.Invalid.InputStarted,
textarea:focus:required.Invalid.InputStarted,
select:focus:required.Invalid.InputStarted 
{
    color: #b94a48;
    border-top-color: #b93a38;
    border-left-color: #b93a38;
    border-bottom-color: #c94a48;
    border-right-color: #c94a48;
}

input:required,
textarea:required,
select:required {
    border-left-width: 2px;
}
input.Valid,
textarea.Valid,
select.Valid
{
    border-top-color: #557;
    border-left-color: #557;
    border-bottom-color: #668;
    border-right-color: #668;
}
input:required:invalid.InputStarted,
textarea:required:invalid.InputStarted,
select:required:invalid.InputStarted, 
input:required.Invalid.InputStarted,
textarea:required.Invalid.InputStarted,
select:required.Invalid.InputStarted 
{
    color: #333333;
    border-top-color: #a86666;
    border-left-color: #a86666;
    border-bottom-color: #b97777;
    border-right-color: #b97777;
}


/* Horizontal / inline*/
form.Inline input,
form.Horizontal input,
form.Inline textarea,
form.Horizontal textarea,
form.Inline select,
form.Horizontal select,
form.Inline .Help.Inline,
form.Horizontal .Help.Inline,
form.Inline [locked],
form.Horizontal [locked],
form.Inline .Prepend,
form.Horizontal .Prepend,
form.Inline .Append,
form.Horizontal .Append {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    margin-bottom: 0;
}

/* form */
form {
    margin: 0;
}

/* fieldset */
fieldset {
	display: block;
	margin: 9px 0 0 0;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border: 2px solid;
	border-color: #555;
}

legend {
    display: block;
    font-size: 100%;
    color: #333333;
}


/* labels */
form label {
    font-size: .85em;
    display: block;
    margin-top: .5em;
    margin-bottom: .1em;
}
form label[hidden]
{
	display: none;
}
form label.Inline,
form label.Horizontal
{
	display: inline;
}
form .Horizontal label
{
    float: left;
    padding-top: .25em;
    margin-right: .25em;
    padding-right: .2em;
}


.Hide,
form.Inline .Hide,
form.Horizontal .Hide {
    display: none;
}
div.Dialog .Inline label,
.Inline label,
form.Inline label {
    display: inline-block;
}
form.Inline .Append,
form.Inline .Prepend {
    margin-bottom: 0;
}
form.Inline .Radio,
form.Inline .Checkbox {
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
form.Inline .Radio input[type="radio"],
form.Inline .Checkbox input[type="checkbox"] {
    float: left;
    margin-right: 3px;
    margin-left: 0;
}

button::-moz-focus-inner,
input[type="submit"].Button::-moz-focus-inner {
    padding: 0;
    border: 0;
}