form .Actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    *zoom: 1;
}
form .Actions:before,
form .Actions:after {
    display: table;
    content: "";
}
form .Actions:after {
    clear: both;
}


.Horizontal .Actions {
    padding-left: 160px;
}
.Horizontal .Actions input,
.Horizontal .Actions button,
.Horizontal .Actions a { margin-right: 2px; }
