.ControlGroup {
    margin-bottom: 9px;
}
legend + .ControlGroup {
    margin-top: 18px;
    -webkit-margin-top-collapse: separate;
}
.Horizontal .ControlGroup {
    margin-bottom: 18px;
    *zoom: 1;
}
.Horizontal .ControlGroup:before,
.Horizontal .ControlGroup:after {
    display: table;
    content: "";
}
.Horizontal .ControlGroup:after {
    clear: both;
}

[class*="Spans"]>.ControlGroup,
[class*="Spans"]>.ControlGroup>input[type="text"],
[class*="Spans"]>.ControlGroup>input[type="number"],
[class*="Spans"]>.ControlGroup>input[type="email"],
[class*="Spans"]>.ControlGroup>input[type="password"],
[class*="Spans"]>.ControlGroup>input[type="tel"],
[class*="Spans"]>.ControlGroup>textarea,
[class*="Spans"]>.ControlGroup>select
{
    width: 100%;
}
.ControlGroup .Tip
{
    font-size: 11px;
    color: #666666;
    font-style: italic;
}
.ControlGroup a.Tip
{
    color: #0088cc;
}
