.OnDemand
{
	display: none;
}
/*
There are five classifications of Ui: Phone, Tablet, Monitor, HdMonitor, and Paper.
MonitorUi is the default.
by default an element show on all device.
but if any of the ui classes are present, it is limited to those ui's
*/
@media (max-width: 767px) 
{
    .TabletUi:not(.PhoneUi),
    .MonitorUi:not(.PhoneUi),
    .HdMonitorUi:not(.PhoneUi),
    .PaperUi:not(.PhoneUi)
	{
		display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    .PhoneUi:not(.TabletUi),
    .MonitorUi:not(.TabletUi),
    .HdMonitorUi:not(.TabletUi),
    .PaperUi:not(.TabletUi)
	{
		display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px)
{
    .PhoneUi:not(.MonitorUi),
    .TabletUi:not(.MonitorUi),
    .HdMonitorUi:not(.MonitorUi),
    .PaperUi:not(.MonitorUi)
	{
		display: none !important;
    }
}
@media (min-width: 1200px) 
{
    .PhoneUi:not(.HdMonitorUi),
    .TabletUi:not(.HdMonitorUi),
    .MonitorUi:not(.HdMonitorUi),
    .PaperUi:not(.HdMonitorUi)
	{
		display: none !important;
    }
}