.Warning,
.Warning h1,
.Warning h2,
.Warning h3,
.Warning h4,
.Warning h5,
.Warning h6
{
    color: #C09853;
}
.Error,
.Error h1,
.Error h2,
.Error h3,
.Error h4,
.Error h5,
.Error h6
{
    color: #B94A48;
}

.Info,
.Info h1,
.Info h2,
.Info h3,
.Info h4,
.Info h5,
.Info h6
{
    color: #3A87AD;
}
.Success,
.Success h1,
.Success h2,
.Success h3,
.Success h4,
.Success h5,
.Success h6
{
    color: #468847;
}
	
.Emphasize,.Standout {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
}
.Warning > label,
.Warning .Help.Block,
.Warning .Help.Inline {
    color: #c09853;
}
.Warning label,
.Warning input,
.Warning select,
.Warning textarea {
    color: #c09853;
    border-color: #c09853;
}
.Warning .Checkbox:focus,
.Warning .Radio:focus,
.Warning input:focus,
.Warning select:focus,
.Warning textarea:focus {
    border-color: #a47e3c;
}
.Warning .Prepend>*:first-child,
.Warning .Append>*:last-child {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #c09853;
}
.Error > label,
.Error .Help.Block,
.Error .Help.Inline {
    color: #b94a48;
}
.Error .Checkbox,
.Error .Radio,
.Error input,
.Error select,
.Error textarea {
    color: #b94a48;
    border-color: #b94a48;
}
.Error .Checkbox:focus,
.Error .Radio:focus,
.Error input:focus,
.Error select:focus,
.Error textarea:focus {
    border-color: #953b39;
}
.Error .Prepend>*:first-child,
.Error .Append>*:last-child {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}
.Success > label,
.Success .Help.Block,
.Success .Help.Inline {
    color: #468847;
}
.Success .Checkbox,
.Success .Radio,
.Success input,
.Success select,
.Success textarea {
    color: #468847;
    border-color: #468847;
}
.Success .Checkbox:focus,
.Success .Radio:focus,
.Success input:focus,
.Success select:focus,
.Success textarea:focus {
    border-color: #356635;
}
.Success .Prepend>*:first-child,
.Success .Append>*:last-child {
    color: #468847;
    background-color: #dff0d8;
    border-color: #468847;
}
