[open] {
    *z-index: 1000;
}

[data-hidden] {
    display: none;
    visibility: hidden;
}

.Disabled input, 
.Disabled select,
.Disabled textarea,
[disabled] input, 
[disabled] select,
[disabled] textarea
{
    color: #666666;
    background-color: #eeeeee;
}
.Disabled button,
[disabled] button
{
    color: #666666;
    background-color: #dddddd;
}
[locked] {
    overflow: hidden;
    white-space: nowrap;
    cursor: not-allowed;
    background-color: #ffffff;
    border-color: #eee;
}