.Layout.Auto.Grid
{
    width: 100%;
}

.Layout.Grid {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.Layout.Grid:before,
.Layout.Grid:after {
    display: table;
    content: " ";
}

.Layout.Grid:after {
    clear: both;
}
.Layout.Grid .Row {
    margin-right: 0;
    margin-left: 0;
    margin-top: {$SKIN->Get_RowSeparation()};
    margin-bottom: {$SKIN->Get_RowSeparation()};
}
.Layout.Grid .Row [class*="Spans"]>.Layout.Grid .Row,
.Layout.Grid .Row [class*="Spans"]>.Row
{
    margin-right: -{$SKIN->Get_ColumnSeparation()/2}px;
    margin-left: -{$SKIN->Get_ColumnSeparation()/2}px;
}
.Layout.Grid .Row:first-child
{
    margin-top: 0px;
}
.Layout.Grid .Row:last-child
{
    margin-bottom: 0px;
}
.Layout.Grid .Row:before,
.Layout.Grid .Row:after {
    display: table;
    content: " ";
}

.Layout.Grid .Row:after {
    clear: both;
}

.Layout.Grid .Row:before,
.Layout.Grid .Row:after {
    display: table;
    content: " ";
}
[class*="Spans"]>input[type="text"],
[class*="Spans"]>input[type="number"],
[class*="Spans"]>input[type="email"],
[class*="Spans"]>input[type="password"],
[class*="Spans"]>input[type="tel"],
[class*="Spans"]>input[type="regex"],
[class*="Spans"]>input[type="search"],
[class*="Spans"]>input[type="url"],
[class*="Spans"]>input[type="month"],
[class*="Spans"]>input[type="time"],
[class*="Spans"]>input[type="week"],
[class*="Spans"]>input[type="date"],
[class*="Spans"]>input[type="color"],
[class*="Spans"]>input[type="date"],
[class*="Spans"]>input[type="datetime"],
[class*="Spans"]>input[type="datetime-local"],
[class*="Spans"]>select,
[class*="Spans"]>textarea
{
    width: 100%;
}
.Layout.Grid .Row:after {
    clear: both;
    content: "";
    display: block;
}

.Spans1Small,
.Spans1Phone,
.Spans1Tablet,
.Spans1,
.Spans1Large,
.Spans2Small,
.Spans2Phone,
.Spans2Tablet,
.Spans2,
.Spans2Large,
.Spans3Small,
.Spans3Phone,
.Spans3Tablet,
.Spans3,
.Spans3Large,
.Spans4Small,
.Spans4Phone,
.Spans4Tablet,
.Spans4,
.Spans4Large,
.Spans5Small,
.Spans5Phone,
.Spans5Tablet,
.Spans5,
.Spans5Large,
.Spans6Small,
.Spans6Phone,
.Spans6Tablet,
.Spans6,
.Spans6Large,
.Spans7Small,
.Spans7Phone,
.Spans7Tablet,
.Spans7,
.Spans7Large,
.Spans8Small,
.Spans8Phone,
.Spans8Tablet,
.Spans8,
.Spans8Large,
.Spans9Small,
.Spans9Phone,
.Spans9Tablet,
.Spans9,
.Spans9Large,
.Spans10Small,
.Spans10Phone,
.Spans10Tablet,
.Spans10,
.Spans10Large,
.Spans11Small,
.Spans11Phone,
.Spans11Tablet,
.Spans11,
.Spans11Large,
.Spans12Small,
.Spans12Phone,
.Spans12Tablet,
.Spans12,
.Spans12Large {
    position: relative;
    min-height: 1px;
    padding-left: {$SKIN->Get_ColumnSeparation()/2}px;
    padding-right: {$SKIN->Get_ColumnSeparation()/2}px;
}

.Spans1,
.Spans2,
.Spans3,
.Spans4,
.Spans5,
.Spans6,
.Spans7,
.Spans8,
.Spans9,
.Spans10,
.Spans11,
.Spans12 {
    float: left;
}
.Spans12 {
    width: 100%;
}
.Spans11 {
    width: 91.66666666666666%;
}
.Spans10 {
    width: 83.33333333333334%;
}
.Spans9 {
    width: 75%;
}
.Spans8 {
    width: 66.66666666666666%;
}
.Spans7 {
    width: 58.333333333333336%;
}
.Spans6 {
    width: 50%;
}
.Spans5 {
    width: 41.66666666666667%;
}
.Spans4 {
    width: 33.33333333333333%;
}
.Spans3 {
    width: 25%;
}
.Spans2 {
    width: 16.666666666666664%;
}
.Spans1 {
    width: 8.333333333333332%;
}
.Skips12 {
    margin-left: 100%;
}
.Skips11 {
    margin-left: 91.66666666666666%;
}
.Skips10 {
    margin-left: 83.33333333333334%;
}
.Skips9 {
    margin-left: 75%;
}
.Skips8 {
    margin-left: 66.66666666666666%;
}
.Skips7 {
    margin-left: 58.333333333333336%;
}
.Skips6 {
    margin-left: 50%;
}
.Skips5 {
    margin-left: 41.66666666666667%;
}
.Skips4 {
    margin-left: 33.33333333333333%;
}
.Skips3 {
    margin-left: 25%;
}
.Skips2 {
    margin-left: 16.666666666666664%;
}
.Skips1 {
    margin-left: 8.333333333333332%;
}
.Skips0 {
    margin-left: 0;
}

*[data-ui-small],
*[data-ui-phone],
*[data-ui-tablet],
*[data-ui-monitor], 
*[data-ui-hdmonitor] 
{
    display: none !important;
}

/* old-school phones and other tiny screens*/
@media (max-width: {$SKIN->Get_PhoneWidth()-1}px)
{
    *[data-ui-small]:not([hidden])
    {
        display: inherit !important;
    }

    .Spans1,
    .Spans2,
    .Spans3,
    .Spans4,
    .Spans5,
    .Spans6,
    .Spans7,
    .Spans8,
    .Spans9,
    .Spans10,
    .Spans11,
    .Spans12,
    .WrapsRowSmall[class*="Spans"]
    {
        float: none;
        width: 100%;
        margin-top: {$SKIN->Get_RowSeparation()};
        margin-bottom: {$SKIN->Get_RowSeparation()};
    }
    
    .Spans1Small,
    .Spans2Small,
    .Spans3Small,
    .Spans4Small,
    .Spans5Small,
    .Spans6Small,
    .Spans7Small,
    .Spans8Small,
    .Spans9Small,
    .Spans10Small,
    .Spans11Small,
    .Spans12Small {
        float: left;
        margin-top: 0;
        margin-bottom: 0px;
    }

    .Spans12Small, .Spans12 {
        width: 100%;
    }

    .Spans11Small {
        width: 91.66666666666666%;
    }

    .Spans10Small {
        width: 83.33333333333334%;
    }

    .Spans9Small {
        width: 75%;
    }

    .Spans8Small {
        width: 66.66666666666666%;
    }

    .Spans7Small {
        width: 58.333333333333336%;
    }

    .Spans6Small {
        width: 50%;
    }

    .Spans5Small {
        width: 41.66666666666667%;
    }

    .Spans4Small {
        width: 33.33333333333333%;
    }

    .Spans3Small {
        width: 25%;
    }

    .Spans2Small {
        width: 16.666666666666664%;
    }

    .Spans1Small {
        width: 8.333333333333332%;
    }

    .Skips12Small {
        margin-left: 100%;
    }

    .Skips11Small {
        margin-left: 91.66666666666666%;
    }

    .Skips10Small {
        margin-left: 83.33333333333334%;
    }

    .Skips9Small {
        margin-left: 75%;
    }

    .Skips8Small {
        margin-left: 66.66666666666666%;
    }

    .Skips7Small {
        margin-left: 58.333333333333336%;
    }

    .Skips6Small {
        margin-left: 50%;
    }

    .Skips5Small {
        margin-left: 41.66666666666667%;
    }

    .Skips4Small {
        margin-left: 33.33333333333333%;
    }

    .Skips3Small {
        margin-left: 25%;
    }

    .Skips2Small {
        margin-left: 16.666666666666664%;
    }

    .Skips1Small {
        margin-left: 8.333333333333332%;
    }

    .Skips0Small {
        margin-left: 0;
    }

}

/* phones and tiny monitors */
@media (min-width: {$SKIN->Get_PhoneWidth()}px) and (max-width: {$SKIN->Get_TabletWidth()-1}px)
{
    .Layout.Grid {
        width: {$SKIN->Get_PhoneWidth()}px;
    }

    *[data-ui-phone]:not([hidden])
    {
        display: inherit !important;
    }

    .Spans1Phone,
    .Spans2Phone,
    .Spans3Phone,
    .Spans4Phone,
    .Spans5Phone,
    .Spans6Phone,
    .Spans7Phone,
    .Spans8Phone,
    .Spans9Phone,
    .Spans10Phone,
    .Spans11Phone,
    .Spans12Phone {
        float: left;
    }
    .WrapsRowPhone[class*="Spans"]
    {
        width: 100%;
        margin-top: {$SKIN->Get_RowSeparation()};
        margin-bottom: {$SKIN->Get_RowSeparation()};
    }
    .Spans12Phone {
        width: 100%;
    }

    .Spans11Phone {
        width: 91.66666666666666%;
    }

    .Spans10Phone {
        width: 83.33333333333334%;
    }

    .Spans9Phone {
        width: 75%;
    }

    .Spans8Phone {
        width: 66.66666666666666%;
    }

    .Spans7Phone {
        width: 58.333333333333336%;
    }

    .Spans6Phone {
        width: 50%;
    }

    .Spans5Phone {
        width: 41.66666666666667%;
    }

    .Spans4Phone {
        width: 33.33333333333333%;
    }

    .Spans3Phone {
        width: 25%;
    }

    .Spans2Phone {
        width: 16.666666666666664%;
    }

    .Spans1Phone {
        width: 8.333333333333332%;
    }

    .Skips12Phone {
        margin-left: 100%;
    }

    .Skips11Phone {
        margin-left: 91.66666666666666%;
    }

    .Skips10Phone {
        margin-left: 83.33333333333334%;
    }

    .Skips9Phone {
        margin-left: 75%;
    }

    .Skips8Phone {
        margin-left: 66.66666666666666%;
    }

    .Skips7Phone {
        margin-left: 58.333333333333336%;
    }

    .Skips6Phone {
        margin-left: 50%;
    }

    .Skips5Phone {
        margin-left: 41.66666666666667%;
    }

    .Skips4Phone {
        margin-left: 33.33333333333333%;
    }

    .Skips3Phone {
        margin-left: 25%;
    }

    .Skips2Phone {
        margin-left: 16.666666666666664%;
    }

    .Skips1Phone {
        margin-left: 8.333333333333332%;
    }

    .Skips0Phone {
        margin-left: 0;
    }
}

/* tablet and small/old desktop/laptop monitor */
@media (min-width: {$SKIN->Get_TabletWidth()}px) and (max-width: {$SKIN->Get_MonitorWidth()-1}px)
{
    .Layout.Grid {
        width: {$SKIN->Get_TabletWidth()}px;
    }
    
    *[data-ui-tablet]:not([hidden])
    {
        display: inherit !important;
    }
    
    .Spans1Tablet,
    .Spans2Tablet,
    .Spans3Tablet,
    .Spans4Tablet,
    .Spans5Tablet,
    .Spans6Tablet,
    .Spans7Tablet,
    .Spans8Tablet,
    .Spans9Tablet,
    .Spans10Tablet,
    .Spans11Tablet,
    .Spans12Tablet {
        float: left;
    }
    .WrapsRowTablet[class*="Spans"]
    {
        width: 100%;
        margin-top: {$SKIN->Get_RowSeparation()};
        margin-bottom: {$SKIN->Get_RowSeparation()};
    }

    .Spans12Tablet {
        width: 100%;
    }

    .Spans11Tablet {
        width: 91.66666666666666%;
    }
    .Spans10Tablet {
        width: 83.33333333333334%;
    }
    .Spans9Tablet {
        width: 75%;
    }
    .Spans8Tablet {
        width: 66.66666666666666%;
    }
    .Spans7Tablet {
        width: 58.333333333333336%;
    }
    .Spans6Tablet {
        width: 50%;
    }
    .Spans5Tablet {
        width: 41.66666666666667%;
    }
    .Spans4Tablet {
        width: 33.33333333333333%;
    }
    .Spans3Tablet {
        width: 25%;
    }
    .Spans2Tablet {
        width: 16.666666666666664%;
    }
    .Spans1Tablet {
        width: 8.333333333333332%;
    }
    .Skips12Tablet {
        margin-left: 100%;
    }
    .Skips11Tablet {
        margin-left: 91.66666666666666%;
    }
    .Skips10Tablet {
        margin-left: 83.33333333333334%;
    }
    .Skips9Tablet {
        margin-left: 75%;
    }
    .Skips8Tablet {
        margin-left: 66.66666666666666%;
    }
    .Skips7Tablet {
        margin-left: 58.333333333333336%;
    }
    .Skips6Tablet {
        margin-left: 50%;
    }
    .Skips5Tablet {
        margin-left: 41.66666666666667%;
    }
    .Skips4Tablet {
        margin-left: 33.33333333333333%;
    }
    .Skips3Tablet {
        margin-left: 25%;
    }
    .Skips2Tablet {
        margin-left: 16.666666666666664%;
    }
    .Skips1Tablet {
        margin-left: 8.333333333333332%;
    }
    .Skips0Tablet {
        margin-left: 0;
    }
}

/* regular desktop/laptop monitor */
@media (min-width: {$SKIN->Get_MonitorWidth()}px) and (max-width: {$SKIN->Get_HdMonitorWidth()-1}px)
{
    *[data-ui-monitor]:not([hidden])
    {
        display: inherit !important;
    }    
    .Layout.Grid {
        width: {$SKIN->Get_MonitorWidth()}px;
    }
    .WrapsRow[class*="Spans"]
    {
        width: 100%;
        margin-top: {$SKIN->Get_RowSeparation()};
        margin-bottom: {$SKIN->Get_RowSeparation()};
    }
}

/* wide/large desktop/laptop monitor */
@media (min-width: {$SKIN->Get_HdMonitorWidth()}px)
{
    *[data-ui-hdmonitor]:not([hidden])
    {
        display: inherit !important;
    }
    
    .Layout.Grid {
        width: {$SKIN->Get_HdMonitorWidth()}px;
    }

    .Spans1Large,
    .Spans2Large,
    .Spans3Large,
    .Spans4Large,
    .Spans5Large,
    .Spans6Large,
    .Spans7Large,
    .Spans8Large,
    .Spans9Large,
    .Spans10Large,
    .Spans11Large,
    .Spans12Large {
        float: left;
    }
    .WrapsRowLarge[class*="Spans"]
    {
        width: 100%;
        margin-top: {$SKIN->Get_RowSeparation()};
        margin-bottom: {$SKIN->Get_RowSeparation()};
    }

    .Spans12Large {
        width: 100%;
    }
    .Spans11Large {
        width: 91.66666666666666%;
    }
    .Spans10Large {
        width: 83.33333333333334%;
    }
    .Spans9Large {
        width: 75%;
    }
    .Spans8Large {
        width: 66.66666666666666%;
    }
    .Spans7Large {
        width: 58.333333333333336%;
    }
    .Spans6Large {
        width: 50%;
    }
    .Spans5Large {
        width: 41.66666666666667%;
    }
    .Spans4Large {
        width: 33.33333333333333%;
    }
    .Spans3Large {
        width: 25%;
    }
    .Spans2Large {
        width: 16.666666666666664%;
    }
    .Spans1Large {
        width: 8.333333333333332%;
    }
    .Skips12Large {
        margin-left: 100%;
    }
    .Skips11Large {
        margin-left: 91.66666666666666%;
    }
    .Skips10Large {
        margin-left: 83.33333333333334%;
    }
    .Skips9Large {
        margin-left: 75%;
    }
    .Skips8Large {
        margin-left: 66.66666666666666%;
    }
    .Skips7Large {
        margin-left: 58.333333333333336%;
    }
    .Skips6Large {
        margin-left: 50%;
    }
    .Skips5Large {
        margin-left: 41.66666666666667%;
    }
    .Skips4Large {
        margin-left: 33.33333333333333%;
    }
    .Skips3Large {
        margin-left: 25%;
    }
    .Skips2Large {
        margin-left: 16.666666666666664%;
    }
    .Skips1Large {
        margin-left: 8.333333333333332%;
    }
    .Skips0Large {
        margin-left: 0;
    }
}

.Layout.Flow
{
    width: 100%;
    vertical-align: top;
}
.Layout.Flow:after {
    clear: both;
}
.Layout.Flow>*
{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.Layout.Flow>*[hidden]
{
    display: none;
}


grid-layout[auto]
{
    width: 100%;
}

grid-layout {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

grid-layout:before,
grid-layout:after {
    display: table;
    content: " ";
}

grid-layout:after {
    clear: both;
}


grid-layout layout-row layout-cell>grid-layout>layout-row,
grid-layout layout-row layout-cell>layout-row
{
    margin-right: -{$SKIN->Get_ColumnSeparation()/2}px;
    margin-left: -{$SKIN->Get_ColumnSeparation()/2}px;
}
grid-layout layout-row {
    display: block;
    margin-top: {$SKIN->Get_RowSeparation()};
    margin-bottom: {$SKIN->Get_RowSeparation()};
}
grid-layout layout-row:first-child
{
    margin-top: 0px;
}
grid-layout layout-row:last-child
{
    margin-bottom: 0px;
}
grid-layout layout-row:before,
grid-layout layout-row:after {
    display: table;
    content: " ";
}

grid-layout layout-row:after {
    clear: both;
}

grid-layout layout-row:before,
grid-layout layout-row:after {
    display: table;
    content: " ";
}
layout-cell>input[type="text"],
layout-cell>input[type="number"],
layout-cell>input[type="email"],
layout-cell>input[type="password"],
layout-cell>input[type="tel"],
layout-cell>input[type="regex"],
layout-cell>input[type="search"],
layout-cell>input[type="url"],
layout-cell>input[type="month"],
layout-cell>input[type="time"],
layout-cell>input[type="week"],
layout-cell>input[type="date"],
layout-cell>input[type="color"],
layout-cell>input[type="date"],
layout-cell>input[type="datetime"],
layout-cell>input[type="datetime-local"],
layout-cell>select,
layout-cell>textarea
{
    width: 100%;
}
grid-layout layout-row:after {
    clear: both;
    content: "";
    display: block;
}

layout-cell
{
    position: relative;
    min-height: 1px;
    padding-left: {$SKIN->Get_ColumnSeparation()/2}px;
    padding-right: {$SKIN->Get_ColumnSeparation()/2}px;
    float: left;
    display: block;
}
layout-cell[spans="12"] {
    width: 100%;
}
layout-cell[spans="11"] {
    width: 91.66666666666666%;
}
layout-cell[spans="10"] {
    width: 83.33333333333334%;
}
layout-cell[spans="9"] {
    width: 75%;
}
layout-cell[spans="8"] {
    width: 66.66666666666666%;
}
layout-cell[spans="7"] {
    width: 58.333333333333336%;
}
layout-cell[spans="6"] {
    width: 50%;
}
layout-cell[spans="5"] {
    width: 41.66666666666667%;
}
layout-cell[spans="4"] {
    width: 33.33333333333333%;
}
layout-cell[spans="3"] {
    width: 25%;
}
layout-cell[spans="2"] {
    width: 16.666666666666664%;
}
layout-cell[spans="1"] {
    width: 8.333333333333332%;
}
layout-cell[skips="12"] {
    margin-left: 100%;
}
layout-cell[skips="11"] {
    margin-left: 91.66666666666666%;
}
layout-cell[skips="10"] {
    margin-left: 83.33333333333334%;
}
layout-cell[skips="9"] {
    margin-left: 75%;
}
layout-cell[skips="8"] {
    margin-left: 66.66666666666666%;
}
layout-cell[skips="7"] {
    margin-left: 58.333333333333336%;
}
layout-cell[skips="6"] {
    margin-left: 50%;
}
layout-cell[skips="5"] {
    margin-left: 41.66666666666667%;
}
layout-cell[skips="4"] {
    margin-left: 33.33333333333333%;
}
layout-cell[skips="3"] {
    margin-left: 25%;
}
layout-cell[skips="2"] {
    margin-left: 16.666666666666664%;
}
layout-cell[skips="1"] {
    margin-left: 8.333333333333332%;
}
layout-cell[skips="0"] {
    margin-left: 0;
}

*[data-ui-small],
*[data-ui-phone],
*[data-ui-tablet],
*[data-ui-monitor],
*[data-ui-hdmonitor]
{
    display: none !important;
}

@media (max-width: {$SKIN->Get_PhoneWidth()-1}px)
{
    *[data-ui-small]:not([hidden])
    {
        display: inherit !important;
    }

    layout-cell[spans="1"],
    layout-cell[spans="2"],
    layout-cell[spans="3"],
    layout-cell[spans="4"],
    layout-cell[spans="5"],
    layout-cell[spans="6"],
    layout-cell[spans="7"],
    layout-cell[spans="8"],
    layout-cell[spans="9"],
    layout-cell[spans="10"],
    layout-cell[spans="11"],
    layout-cell[spans="12"]
    {
        float: none;
        width: 100%;
        margin-top: {$SKIN->Get_RowSeparation()};
        margin-bottom: {$SKIN->Get_RowSeparation()};
    }
    
    layout-cell[spans-small="1"],
    layout-cell[spans-small="2"],
    layout-cell[spans-small="3"],
    layout-cell[spans-small="4"],
    layout-cell[spans-small="5"],
    layout-cell[spans-small="6"],
    layout-cell[spans-small="7"],
    layout-cell[spans-small="8"],
    layout-cell[spans-small="9"],
    layout-cell[spans-small="10"],
    layout-cell[spans-small="11"],
    layout-cell[spans-small="12"] {
        float: left;
        margin-top: 0;
        margin-bottom: 0px;
    }

    layout-cell[spans-small="12"], layout-cell[spans="12"] {
        width: 100%;
    }

    layout-cell[spans-small="11"] {
        width: 91.66666666666666%;
    }

    layout-cell[spans-small="10"] {
        width: 83.33333333333334%;
    }

    layout-cell[spans-small="9"] {
        width: 75%;
    }

    layout-cell[spans-small="8"] {
        width: 66.66666666666666%;
    }

    layout-cell[spans-small="7"] {
        width: 58.333333333333336%;
    }

    layout-cell[spans-small="6"] {
        width: 50%;
    }

    layout-cell[spans-small="5"] {
        width: 41.66666666666667%;
    }

    layout-cell[spans-small="4"] {
        width: 33.33333333333333%;
    }

    layout-cell[spans-small="3"] {
        width: 25%;
    }

    layout-cell[spans-small="2"] {
        width: 16.666666666666664%;
    }

    layout-cell[spans-small="1"] {
        width: 8.333333333333332%;
    }
}

/* phones and tiny monitors */
@media (min-width: {$SKIN->Get_PhoneWidth()}px) and (max-width: {$SKIN->Get_TabletWidth()-1}px)
{
    *[data-ui-phone]:not([hidden])
    {
        display: inherit !important;
    }

    layout-cell {
        width: 100%;
    }

    layout-cell[spans-phone]
    {
        float: left;
    }

    layout-cell[spans-phone="12"] {
        width: 100%;
    }

    layout-cell[spans-phone="11"] {
        width: 91.66666666666666%;
    }

    layout-cell[spans-phone="10"] {
        width: 83.33333333333334%;
    }

    layout-cell[spans-phone="9"] {
        width: 75%;
    }

    layout-cell[spans-phone="8"] {
        width: 66.66666666666666%;
    }

    layout-cell[spans-phone="7"] {
        width: 58.333333333333336%;
    }

    layout-cell[spans-phone="6"] {
        width: 50%;
    }

    layout-cell[spans-phone="5"] {
        width: 41.66666666666667%;
    }

    layout-cell[spans-phone="4"] {
        width: 33.33333333333333%;
    }

    layout-cell[spans-phone="3"] {
        width: 25%;
    }

    layout-cell[spans-phone="2"] {
        width: 16.666666666666664%;
    }

    layout-cell[spans-phone="1"] {
        width: 8.333333333333332%;
    }

    layout-cell[skips-phone="12"] {
        margin-left: 100%;
    }

    layout-cell[skips-phone="11"] {
        margin-left: 91.66666666666666%;
    }

    layout-cell[skips-phone="10"] {
        margin-left: 83.33333333333334%;
    }

    layout-cell[skips-phone="9"] {
        margin-left: 75%;
    }

    layout-cell[skips-phone="8"] {
        margin-left: 66.66666666666666%;
    }

    layout-cell[skips-phone="7"] {
        margin-left: 58.333333333333336%;
    }

    layout-cell[skips-phone="7"] {
        margin-left: 50%;
    }

    layout-cell[skips-phone="5"] {
        margin-left: 41.66666666666667%;
    }

    layout-cell[skips-phone="4"] {
        margin-left: 33.33333333333333%;
    }

    layout-cell[skips-phone="3"] {
        margin-left: 25%;
    }

    layout-cell[skips-phone="2"] {
        margin-left: 16.666666666666664%;
    }

    layout-cell[skips-phone="1"] {
        margin-left: 8.333333333333332%;
    }

    layout-cell[skips-phone="0"] {
        margin-left: 0;
    }

}

/* tablet and small/old desktop/laptop monitor */
@media (min-width: {$SKIN->Get_TabletWidth()}px) and (max-width: {$SKIN->Get_MonitorWidth()-1}px)
{
    grid-layout {
        width: {$SKIN->Get_TabletWidth()}px;
    }
    
    *[data-ui-tablet]:not([hidden])
    {
        display: inherit !important;
    }

    layout-cell[spans-tablet]
    {
        float: left;
    }
    layout-cell[spans-tablet="12"] {
        width: 100%;
    }
    layout-cell[spans-tablet="11"] {
        width: 91.66666666666666%;
    }
    layout-cell[spans-tablet="10"] {
        width: 83.33333333333334%;
    }
    layout-cell[spans-tablet="9"] {
        width: 75%;
    }
    layout-cell[spans-tablet="8"] {
        width: 66.66666666666666%;
    }
    layout-cell[spans-tablet="7"] {
        width: 58.333333333333336%;
    }
    layout-cell[spans-tablet="6"] {
        width: 50%;
    }
    layout-cell[spans-tablet="5"] {
        width: 41.66666666666667%;
    }
    layout-cell[spans-tablet="4"] {
        width: 33.33333333333333%;
    }
    layout-cell[spans-tablet="3"] {
        width: 25%;
    }
    layout-cell[spans-tablet="2"] {
        width: 16.666666666666664%;
    }
    layout-cell[spans-tablet="1"] {
        width: 8.333333333333332%;
    }
    layout-cell[skips-tablet="12"] {
        margin-left: 100%;
    }
    layout-cell[skips-tablet="11"] {
        margin-left: 91.66666666666666%;
    }
    layout-cell[skips-tablet="10"] {
        margin-left: 83.33333333333334%;
    }
    layout-cell[skips-tablet="9"] {
        margin-left: 75%;
    }
    layout-cell[skips-tablet="8"] {
        margin-left: 66.66666666666666%;
    }
    layout-cell[skips-tablet="7"] {
        margin-left: 58.333333333333336%;
    }
    layout-cell[skips-tablet="6"] {
        margin-left: 50%;
    }
    layout-cell[skips-tablet="5"] {
        margin-left: 41.66666666666667%;
    }
    layout-cell[skips-tablet="4"] {
        margin-left: 33.33333333333333%;
    }
    layout-cell[skips-tablet="3"] {
        margin-left: 25%;
    }
    layout-cell[skips-tablet="2"] {
        margin-left: 16.666666666666664%;
    }
    layout-cell[skips-tablet="1"] {
        margin-left: 8.333333333333332%;
    }
    layout-cell[skips-tablet="0"] {
        margin-left: 0;
    }
}

/* regular desktop/laptop monitor */
@media (min-width: {$SKIN->Get_MonitorWidth()}px) and (max-width: {$SKIN->Get_HdMonitorWidth()-1}px)
{
    *[data-ui-monitor]:not([hidden])
    {
        display: inherit !important;
    }
    grid-layout {
        width: {$SKIN->Get_MonitorWidth()}px;
    }
}

/* wide/large desktop/laptop monitor */
@media (min-width: {$SKIN->Get_HdMonitorWidth()}px)
{
    *[data-ui-hdmonitor]:not([hidden])
    {
        display: inherit !important;
    }

    grid-layout {
        width: {$SKIN->Get_HdMonitorWidth()}px;
    }

    layout-cell[spans-large] {
        float: left;
    }
    layout-cell[spans-large="12"] {
        width: 100%;
    }
    layout-cell[spans-large="11"] {
        width: 91.66666666666666%;
    }
    layout-cell[spans-large="10"] {
        width: 83.33333333333334%;
    }
    layout-cell[spans-large="9"] {
        width: 75%;
    }
    layout-cell[spans-large="8"] {
        width: 66.66666666666666%;
    }
    layout-cell[spans-large="7"] {
        width: 58.333333333333336%;
    }
    layout-cell[spans-large="6"] {
        width: 50%;
    }
    layout-cell[spans-large="5"] {
        width: 41.66666666666667%;
    }
    layout-cell[spans-large="4"] {
        width: 33.33333333333333%;
    }
    layout-cell[spans-large="3"] {
        width: 25%;
    }
    layout-cell[spans-large="2"] {
        width: 16.666666666666664%;
    }
    layout-cell[spans-large="1"] {
        width: 8.333333333333332%;
    }
    layout-cell[skips-large="12"] {
        margin-left: 100%;
    }
    layout-cell[skips-large="11"] {
        margin-left: 91.66666666666666%;
    }
    layout-cell[skips-large="10"] {
        margin-left: 83.33333333333334%;
    }
    layout-cell[skips-large="9"] {
        margin-left: 75%;
    }
    layout-cell[skips-large="8"] {
        margin-left: 66.66666666666666%;
    }
    layout-cell[skips-large="7"] {
        margin-left: 58.333333333333336%;
    }
    layout-cell[skips-large="6"] {
        margin-left: 50%;
    }
    layout-cell[skips-large="5"] {
        margin-left: 41.66666666666667%;
    }
    layout-cell[skips-large="4"] {
        margin-left: 33.33333333333333%;
    }
    layout-cell[skips-large="3"] {
        margin-left: 25%;
    }
    layout-cell[skips-large="2"] {
        margin-left: 16.666666666666664%;
    }
    layout-cell[skips-large="1"] {
        margin-left: 8.333333333333332%;
    }
    [skips="0"]Large {
        margin-left: 0;
    }
}

flow-layout
{
    width: 100%;
    vertical-align: top;
    display: block;
}
flow-layout:after {
    clear: both;
}
flow-layout>*
{
    display: inline-block;
    float: none;
    vertical-align: top;
}
flow-layout>*[hidden]
{
    display: none;
}