.Block {
    display: block;
}
.Inline {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}
.Float.Right
{
    float: right;
}
.Float.Left
{
    float: left;
}
.Clear
{
    clear: both;
}
.Push>*
{
    float: right;
}
.Pull>*
{
    float: left;
}
.Align.Right
{
    text-align: right;
    margin-right: 0px;
}
.Align.Left
{
    text-align: left;
    margin-left: 0px;
}
.Align.Center
{
    text-align: center;
}
.Centered
{
    text-align: center;
    margin: auto;
}
