.Tip
{
    font-size: 90%;
    color: #505050;
    font-style: italic;
}

.Tag,
.Mark,
.Label,
.Badge {
    font-size: 90%;
    font-weight: normal;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
}
.Tag a,
.Mark a,
.Label a,
.Badge a,
.Tag a:hover,
.Mark a:hover,
.Label a:hover,
.Badge a:hover
{
    color: #ffffff;
}
.Tag a.Button,
.Mark a.Button,
.Label a.Button,
.Badge a.Button
{
    color: #333333;
}
.Tag a.Button.Primary,
.Mark a.Button.Primary,
.Label a.Button.Primary,
.Badge a.Button.Primary,
.Tag a.Button.Success,
.Mark a.Button.Success,
.Label a.Button.Success,
.Badge a.Button.Success
{
    color: #ffffff;
}
.Tag,
.Label {
    padding: .1em .4em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    line-height: 1.5em;

}
.Tag.Header,
.Label.Header {
    margin-bottom: 3px;
}
.Mark,
.Badge
{
    padding: 1px 9px 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
a.Tag:hover,
a.Mark:hover,
a.Label:hover,
a.Badge:hover 
{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.Tag.Urgent,
.Mark.Urgent, 
.Label.Urgent,
.Badge.Urgent 
{
    background-color: #b94a48;
}
.Tag.Urgent[href],
.Mark.Urgent[href],
.Label.Urgent[href],
.Badge.Urgent[href] {
    background-color: #953b39;
}
.Tag.Warning,
.Mark.Warning,
.Label.Warning,
.Badge.Warning {
    background-color: #f89406;
}
.Tag.Warning[href],
.Mark.Warning[href],
.Label.Warning[href],
.Badge.Warning[href] {
    background-color: #c67605;
}
.Tag.Success,
.Mark.Success,
.Label.Success,
.Badge.Success 
{
    background-color: #468847;
}
.Tag.Success[href],
.Mark.Success[href],
.Label.Success[href],
.Badge.Success[href] {
    background-color: #356635;
}
.Tag.Info,
.Mark.Info,
.Label.Info,
.Badge.Info {
    background-color: #3a87ad;
}
.Tag.Info[href],
.Mark.Info[href],
.Label.Info[href],
.Badge.Info[href] {
    background-color: #2d6987;
}
.Tag.Inverse,
.Mark.Inverse,
.Label.Inverse,
.Badge.Inverse {
    background-color: #333333;
}
.Tag.Inverse[href],
.Mark.Inverse[href],
.Label.Inverse[href],
.Badge.Inverse[href] {
    background-color: #1a1a1a;
}
