div.Console
{
	white-space: nowrap;
    text-rendering: optimizelegibility;
	border: dotted 1px #666666;
	display: block;
	background-color: #000000; 
	padding: 0px;
	color: #ffffff; 
	font-size: 80%; 
	line-height: 80%;	
	font-family: monospace;
	text-shadow: none;
}
div.Console header
{
    background: #e9e9e9;
	border-bottom: solid 1px #cecece;
	padding: 4px 4px 4px 6px;
	font-size: 80%;
    margin: 0 0 5px 0;
    font-family: sans-serif;
    font-weight: bold;
    color: #333333;
	white-space: normal;
}
div.Console header small
{
	margin-right: 8px; 
	float: right;
	font-size: 95%;
}

div.Console footer
{
	border-top: solid 1px #cecece;
    background: #f9f9f9;
	font-size: 80%;
	padding: 4px;
    font-family: sans-serif;
	white-space: normal;
	color: #333333;
}
.HeaderLabel+div.Console {
	margin-top: 0;
}