.CodeContainer ol, 
.CodeContainer ul, 
.CodeContainer ul li, 
.CodeContainer ol li
{
	margin: auto!important;
	padding: 0 0 0 0;
}
.CodeContainer ol
{
	padding-left: 40px;
}
.CodeContainer 
{
    background: #f5f5f5;
    border: 1px dotted #999;
    display: block;
    text-align: left;
	font-size: 90%;
	font-family: monospace;
	text-shadow: none;
    text-rendering: optimizelegibility;
    padding: 15px;
}
.CodeContainer code
{
	margin-top: 0;
}
.CodeContainer header
{
    background: #e9e9e9;
	border-bottom: solid 1px #cecece;
	padding: 4px 4px 4px 6px;
	font-size: 80%;
    margin: 0 0 5px 0;
    font-family: sans-serif;
    font-weight: bold;
    color: inherit;
	white-space: normal;
}
.CodeContainer header small
{
	margin-right: 8px; 
	float: right;
	font-size: 95%;
}

.CodeContainer footer
{
	border-top: solid 1px #cecece;
    background: #f9f9f9;
	color: #333333;
	font-size: 80%;
	padding: 4px;
    font-family: sans-serif;
	white-space: normal;
}