.Alert
{
    font-size: .95em;
    padding: .5em 1em;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #000000;
}

.Alert.Info .Tip,
.Alert.Success .Tip,
.Alert.Error .Tip
{
    color: #ffffff;
}
.Alert.Warning,
.Alert.Warning .Tip,
.Alert .Tip
{
    color: #ffffff;
}
.Alert.Info,
.Alert.Success,
.Alert.Error
{
    color: #ffffff;
}
.Alert ul, .Alert ul li
{
    list-style: none;
}
.Alert ul li
{
    padding-top: 3px;
    padding-bottom: 3px;
}
.Alert ul li.Link:hover
{
    list-style: square;
}
.Alert.Info a,
.Alert.Success a,
.Alert.Error a
{
    color: #ffffff;
}
.Alert.Warning a:hover,
.Alert.Info a:hover,
.Alert.Success a:hover,
.Alert.Error a:hover,
.Alert a:hover
{
    border-bottom: dashed 1px;
}
.Alert.Info a:hover,
.Alert.Success a:hover,
.Alert.Error a:hover
{
    color: #ffffff;
}
.Alert.Warning
{
    background-color: #faa732;
    border-color: #cf8300;
    color: #ffffff;
}
.Alert .Title
.Alert.Info h1,
.Alert.Info h2,
.Alert.Info h3,
.Alert.Info h4,
.Alert.Info h5,
.Alert.Info h6,
.Alert.Success h1,
.Alert.Success h2,
.Alert.Success h3,
.Alert.Success h4,
.Alert.Success h5,
.Alert.Success h6,
.Alert.Error h1,
.Alert.Error h2,
.Alert.Error h3,
.Alert.Error h4,
.Alert.Error h5,
.Alert.Error h6,
.Alert.Warning h1,
.Alert.Warning h2,
.Alert.Warning h3,
.Alert.Warning h4,
.Alert.Warning h5,
.Alert.Warning h6
{
    color: #ffffff;
    margin-bottom: 12px;
    font-weight: normal;
}
.Alert.Margin
{
    margin-top: 16px;
    margin-bottom: 16px;
}
.Alert.Heading {
    color: inherit;
}
.Alert .Close {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 18px;
}
.Alert.Success {
    background-color: #5bb75b;
    border-color: #468847;
    color: #ffffff;
}
.Alert.Success .Title
.Alert.Success h1,
.Alert.Success h2,
.Alert.Success h3,
.Alert.Success h4,
.Alert.Success h5,
.Alert.Success h6
{
    color: #ffffff;
    border-bottom: solid 1px #468847;
}
.Alert.Warning h1,
.Alert.Warning h2,
.Alert.Warning h3,
.Alert.Warning h4,
.Alert.Warning h5,
.Alert.Warning h6
{
    border-bottom: solid 1px #cf8300;
}

.Alert.Urgent,
.Alert.Error {
    background-color: #bd362f;
    border-color: #a60704;
    color: #ffffff;
}
.Alert.Urgent h1,
.Alert.Error h1,
.Alert.Urgent h2,
.Alert.Error h2,
.Alert.Urgent h3,
.Alert.Error h3,
.Alert.Urgent h4,
.Alert.Error h4,
.Alert.Urgent h5,
.Alert.Error h5,
.Alert.Urgent h6,
.Alert.Error h6
{
    color: #ffffff;
    border-bottom: solid 1px #a60704;
}
.Alert.Info {
    background-color: #49afcd;
    border-color: #3a87ad;
    color: #ffffff;
}
.Alert.Info .Title,
.Alert.Info h1,
.Alert.Info h2,
.Alert.Info h3,
.Alert.Info h4,
.Alert.Info h5,
.Alert.Info h6
{
    border-bottom: solid 1px #3a87ad;
}
.Alert.Contrast {
    background-color: #ffffff;
    color: #333333;
    border-color: #bce8f1;
}

.Alert.Block {
    padding-top: 14px;
    padding-bottom: 14px;
}
.Alert.Block > p,
.Alert.Block > ul {
    margin-bottom: 0;
}
.Alert.Block p + p {
    margin-top: 5px;
}

.Alert code,
.Alert pre
{
	text-shadow: none;
}

.Alert h1,
.Alert h2,
.Alert h3,
.Alert h4,
.Alert h5,
.Alert h6
{
	margin-top: 0;
	font-weight: normal;
}
