.BreadCrumb {
    padding: 7px 14px;
    margin: 0 0 18px;
    list-style: none;
    background-color: #fbfbfb;
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.BreadCrumb li {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    text-shadow: 0 1px 0 #ffffff;
}
.BreadCrumb li:after
{
    content: "\00a0>\00a0"
}
.BreadCrumb li:last-child:after
{
    content: "";
}
.BreadCrumb .Seperator,
.BreadCrumb li span
{
    padding: 0 5px;
    color: #999999;
}
.BreadCrumb .Active a {
    color: #333333;
}
