.Dialog
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    overflow: auto;
    width: 560px;
    margin: -250px 0 0 -280px;
	padding-bottom: 8px;
    background-color: #ffffff;
    background-clip: padding-box;
    box-shadow: 2px 2px 15px 2px #9a9a9a;
    border: solid 1px #a8a9a9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.Dialog .Header {
    border-bottom: 1px solid #d8d9d9;
    cursor: move;
    background-color: #d8d9d9;
    padding: 1em;
}
.Dialog .Header h3 
{
    cursor: move;
    font-size: 90%;
    font-weight: normal;
    text-transform: uppercase;
}
.Dialog .Header .Close {
    padding: 0;
    position: absolute;
    display: block;
    border: none;
    background: none;
    font-size: 2em;
    right: 0px;
}
.Dialog .Body
{
    overflow-y: auto;
    padding: 1em;
}

.Dialog .Footer
{
    text-align: center;
}

@media (max-width: {$SKIN->Get_MonitorWidth()-1}px)
{
    .Dialog
    {
        width: 100% !important;
        position: fixed !important;
        top: 0px !important;
        left: 0px !important;
        right: 0px !important;
        bottom: 0px !important;
        height: auto !important;
    }
}