.DebugPanel
{
	position: fixed;
	width: 300px;
	background-color: rgba(0,0,0,.7);
	top: 0px;
	right: 0px;
	z-index: 9999;
    border: dotted 2px #ffffff;
}
.DebugPanel h1
{
	color: #ffffff;
    font-weight: normal;
    font-size: 110%;
}
.DebugPanel dl dt
{
    background-color: rgba(223,223,223,.5);
}
.DebugPanel dl dd
{
    background-color: rgba(255,255,255,.5);
}
.DebugPanel small
{
    color: #ffffff;
}