/*Header labels are full width block elements that will sit nicely directly on top of another element to give it a label*/
.HeaderLabel
{
	background-color: #e9e9e9;
	width: 100%;
	display: block;
	color: #333333;
	padding: 2px;
	border: dotted 1px #666666;
	margin: 0;
	font-size: 80%;
}