.Inset
{
    box-shadow: inset 0px 0px 3px 3px rgba(215,210,200,1);
    border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-top: 1px solid #666666;
    border-left: 1px solid #666666;
    min-height: 20px;
    padding: 19px;
    background-color: {$SKIN->Get_InsetColor()};
}

.Inset.Warning
{
    box-shadow: inset 0px 0px 3px 3px rgba(250,167,50,1);
    border-bottom-color: rgb(255,217,100);
    border-right-color: rgb(255,217,100);
    border-top-color: rgb(200,117,0);
    border-left-color: rgb(200,117,0);
}
.Inset.Info
{
    box-shadow: inset 0px 0px 3px 3px rgba(73,175,205,1);
    border-bottom-color: rgb(123,225,255);
    border-right-color: rgb(123,225,255);
    border-top-color: rgb(23,125,155);
    border-left-color: rgb(23,125,155);
}
.Inset.Success
{
    box-shadow: inset 0px 0px 3px 3px rgba(91,183,91,1);
    border-bottom-color: rgb(141,233,141);
    border-right-color: rgb(141,233,141);
    border-top-color: rgb(41,133,41);
    border-left-color: rgb(41,133,41);
}
.Inset.Urgent,
.Inset.Error
{
    box-shadow: inset 0px 0px 3px 3px rgba(189,54,47,1);    
    border-bottom-color: rgb(239,104,97);
    border-right-color: rgb(239,104,97);
    border-top-color: rgb(139,4,0);
    border-left-color: rgb(139,4,0);
}

.Inset blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
}
.Inset.Large {
    padding: 24px;
    border-radius: 6px;
}
.Inset.Small {
    padding: 9px;
    border-radius: 3px;
}
.Inset h1 { font-size: 110%; }
.Inset h2 { font-size: 105%; }
.Inset h3 { font-size: 100%; }
.Inset h4 { font-size: 95%; }
.Inset h5 { font-size: 90%; }
.Inset h6 { font-size: 85%; }
.Inset h1 { border-bottom: solid 1px #666666; }
.Inset h1,.Inset h2,.Inset h3,.Inset h4,.Inset h5,.Inset h6 { line-height: normal; margin-bottom: 12px; }

.Inset.Info h1 { border-bottom: solid 1px rgb(73,175,205); }
.Inset.Success h1 { border-bottom: solid 1px rgb(91,183,91); }
.Inset.Warning h1 { border-bottom: solid 1px rgb(250,167,50); }
.Inset.Error h1 { border-bottom: solid 1px rgb(189,54,47); }

ul.Inset,
ul.Inset li
{
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
ul.Inset li.Header
{
	font-weight: normal;
    color: #757575;
	font-size: 80%;
	text-align: left;
	background-color: #dfdfdf;
	color: #333333;
	font-weight: normal;
}
ul.Inset:not(.Horizontal) li.Header
{
	padding: 4px 0 1px 6px;
	border-top: solid 2px #bfbfbf;
}
ul.Inset:not(.Horizontal) li.Header:hover
{
	background-color: #dfdfdf;
}
ul.Inset li.Header~li:not(.Header)
{
	border-left: solid 1px #dfdfdf;
	border-right: solid 1px #dfdfdf;
}
ul.Inset.Striped li:nth-child(odd)
{
    background-color: #f9f9f9;
}
