ul.Menu,
menu
{
    background-color: rgba(255,255,255,.9);
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #bfbfbf;
}
ul.Menu li,
menu>li
{
    line-height: normal;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    background-color: rgba(255,255,255,.7);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    outline: none;
}
ul.Menu li,
menu>li
{
    outline: none;
}
ul.Menu:not(.Horizontal)>li:last-child,
menu:not(.Horizontal)>li:last-child
{
    border-bottom: 1px solid #dddddd;
}
ul.Menu.Horizontal>li:last-child,
menu.Horizontal>li:last-child
{
    border-right: 1px solid #dddddd;
}
.Menu,
menu
{
    min-height: 20px;
    padding: 0;
    list-style: none;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
	text-align: center;
	margin-top: 0px;
}
menu.Notification,
.Menu.Notification
{
	padding: 0;
}
ul.Menu>li>a,
menu>li a,
ul.Menu>li>button,
menu>li button,
menu>li>button.CommandLink,
menu>li button.CommandLink,
menu>li>button.CommandLink:hover,
menu>li button.CommandLink:hover,
menu>li>button.CommandLink:focus,
menu>li button.CommandLink:focus
{
    display: block;
    padding: .5em;
    width: 100%;
    height: 100%;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background: none;
    text-align: left;
}

ul.Horizontal.Menu,
menu.Horizontal
{
    position: relative;
	padding: 0px;
	margin-bottom: 0px;
}
ul.Menu>li.Header,
menu>li.Header
{
	font-weight: normal;
    color: #757575;
	font-size: 80%;
	text-align: left;
	background-color: #ebebeb;
    font-style: italic;
	color: #333333;
	font-weight: normal;
}
ul.Menu:not(.Horizontal)>li.Header,
menu:not(.Horizontal)>li.Header
{
	padding: 4px 6px;
	border-top: solid 2px #dfdfdf;
}

ul.Menu:not(.Horizontal)>li.Header:hover,
menu:not(.Horizontal)>li.Header:hover
{
	background-color: #dfdfdf;
}

ul.Menu:not(.Horizontal)>li:not(.Header),
menu:not(.Horizontal)>li:not(.Header)
{
	border-left: solid 1px #dfdfdf;
	border-right: solid 1px #dfdfdf;
}
ul.Horizontal.Menu>li,
menu.Horizontal>li
{
    text-align: center;
    border-top: none;
    display: block;
    float: left;
    border-left: solid 1px #dddddd;
    width: auto;
}

ul.Horizontal.Menu>li:first-child,
menu.Horizontal>li:first-child
{
    border-left: none;
}
ul.Menu li:not(.Header):not(.Footer)>a:hover,
ul.Menu li:not(.Header):not(.Footer)>a:active,
ul.Menu li:not(.Header):not(.Footer)>a.Active,
ul.Menu li.Active:not(.Header):not(.Footer)>a,
menu li:not(.Header):not(.Footer)>a:hover,
menu li:not(.Header):not(.Footer)>a:active,
menu li:not(.Header):not(.Footer)>a.Active,
menu li.Active:not(.Header):not(.Footer)>a,
ul.Menu li:not(.Header):not(.Footer)>button:hover,
ul.Menu li:not(.Header):not(.Footer)>button:active,
ul.Menu li:not(.Header):not(.Footer)>button.Active,
ul.Menu li.Active:not(.Header):not(.Footer)>button,
menu li:not(.Header):not(.Footer)>button:hover,
menu li:not(.Header):not(.Footer)>button:active,
menu li:not(.Header):not(.Footer)>button.Active,
menu li.Active:not(.Header):not(.Footer)>button
{
    text-decoration: none;
    background-color: #96c6e6;
    color: #ffffff;
    text-shadow: none;
}
ul.Menu li>a.Active,
menu>li>a.Active,
ul.Menu li.Active>a,
menu>li.Active>a,
ul.Menu li>a.Selected,
menu>li>a.Selected,
ul.Menu li.Selected>a,
menu>li.Selected>a,
ul.Menu li>button.Active,
menu>li>button.Active,
ul.Menu li.Active>button,
menu>li.Active>button,
ul.Menu li>button.Selected,
menu>li>button.Selected,
ul.Menu li.Selected>button,
menu>li.Selected>button
{
    background-color: #3696d6;
    color: #ffffff;
}

ul.Menu>li.Header,
menu>li.Header
{
	display: block;
	width: 100%;
}
ul.Menu.Horizontal>li.Header,
menu.Horizontal>li.Header
{
	display: inline;
	width: auto;
}

.Layout.Grid>.Row>[class*="Spans"]>menu,
.Layout.Grid>.Row>[class*="Spans"]>.Menu
{
	margin-top: 0px;
}
.Menu.Horizontal:last-child:after,
menu.Horizontal:last-child:after
{
	content: "";
	clear: both;
	display: block;
}

.Menu>li.Disabled,
menu>li.Disabled,
.Menu>li.Disabled a,
menu>li.Disabled a
{
    color: #666666;
}
.Menu>li.Disabled:not(.Header):not(.Footer):not(.Selected):not(.Active):hover,
menu>li.Disabled:not(.Header):not(.Footer):not(.Selected):not(.Active):hover,
.Menu>li.Disabled:not(.Header):not(.Footer):not(.Selected):not(.Active) a:hover,
menu>li.Disabled:not(.Header):not(.Footer):not(.Selected:not(.Active)) a:hover,
.Menu>li.Disabled:not(.Header):not(.Footer):not(.Selected):not(.Active) a:active,
menu>li.Disabled:not(.Header):not(.Footer):not(.Selected):not(.Active) a:active
{
    background-color: transparent;
    color: #666666;
    cursor: default;
}
