.Notification {
    font-size: .95em;
    padding: 8px 14px;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #333333;
}
.Notification ul li
{
    padding-top: 3px;
    padding-bottom: 3px;
}
.Notification .Title
{
    font-weight: normal;
}
.Notification.Margin
{
    margin-top: 16px;
    margin-bottom: 16px;
}
.Notification.Heading {
    color: inherit;
}
.Notification.Close {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 18px;
}
.Notification.Success
{
    border-left: 5px solid #5bb75b;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.Notification.Info
{
    border-left: 5px solid #49afcd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.Notification.Warning
{
    border-left: 5px solid #faa732;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.Notification.Urgent,
.Notification.Error
{
    border-left: 5px solid #bd362f;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.Notification h1,
.Notification h2,
.Notification h3,
.Notification h4,
.Notification h5,
.Notification h6
{
	margin-top: 0;
	font-weight: normal;
}
[class*="Spans"]>.Notification>input[type="text"],
[class*="Spans"]>.Notification>input[type="number"],
[class*="Spans"]>.Notification>input[type="email"],
[class*="Spans"]>.Notification>input[type="password"],
[class*="Spans"]>.Notification>input[type="tel"],
[class*="Spans"]>.Notification>select,
[class*="Spans"]>.Notification>textarea
{
    width: 100%;
}
