.Pagination {
    min-height: 1em;
    margin: 0;
}
ul.Pagination {
    text-align: center;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    border-radius: 3px;
    padding: 0;
}
.Pagination li {
    display: inline;
}
.Pagination a,
.Pagination button
{
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
    cursor: pointer;
}
.Pagination a:hover,
.Pagination .Active a,
.Pagination button:hover,
.Pagination .Active button
{
    background-color: #f5f5f5;
}
.Pagination .Active a,
.Pagination .Active button
{
    color: #999999;
    cursor: default;
}
.Pagination .Disabled span,
.Pagination .Disabled a,
.Pagination .Disabled a:hover,
.Pagination .Disabled button,
.Pagination .Disabled a:button
{
    color: #999999;
    background-color: transparent;
    cursor: default;
}
.Pagination li:first-child a,
.Pagination li:first-child button
{
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.Pagination li:last-child a,
.Pagination li:last-child button
{
    border-radius: 0 3px 3px 0;
}
.Pagination-centered {
    text-align: center;
}
.Pagination-right {
    text-align: right;
}