.Prepend,
.Append 
{
    text-space-collapse: trim-inner;
    white-space-collapse: discard; 
}
span.Prepend,
span.Append 
{
    display: inline-block;	 
}
.Prepend>*:first-child
{
	font-size: 100%;
	padding: .5em;
}

.Append>*:last-child
{
	font-size: 100%;
	padding: .5em;
}
.Prepend>*,.Append>*
{
    float: left;
}
.Prepend input,
.Append input,
.Prepend select,
.Append select,
.Prepend [locked],
.Append [locked] {
    position: relative;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    vertical-align: middle;
}
.Prepend input:focus,
.Append input:focus,
.Prepend select:focus,
.Append select:focus,
.Prepend [locked]:focus,
.Append [locked]:focus {
    z-index: 2;
}
.Prepend [locked],
.Append [locked] {
    border-left-color: #ccc;
}
.Prepend>*:first-child,
.Append>*:last-child
{
    display: inline-block;
    width: auto;
    min-width: 16px;
    padding: .5em;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    vertical-align: middle;
    background-color: #eeeeee;
    border: 1px solid #999;
    margin: 0;
}
.Append>*:last-child,
.Prepend>*:last-child
{
	border-left-width: 0px;
}
.Append>*:first-child,
.Prepend>*:first-child
{
	border-right-width: 0px;
}
.Prepend .Active,
.Append .Active {
    background-color: #a9dba9;
    border-color: #46a546;
}
.Prepend>*:first-child
{
    margin-right: -1px;
}
.Append [locked] {
    border-right-color: #ccc;
    border-left-color: #eee;
}