.Toolbar {
    color: #999999;
    *position: relative;
    *z-index: 2;
    overflow: visible;
    background-color: #FAFAFA;
    border: 1px solid #D4D4D4;
}
.Toolbar input, .Toolbar textarea, .Toolbar select
{
    margin: 0 2px;
    display: inline-block;
    *display: inline;
}
.Toolbar .Append input, .Toolbar .Append textarea, .Toolbar .Append select,
.Toolbar .Prepend input, .Toolbar .Prepend textarea, .Toolbar .Prepend select
{
    margin: 0;
}
.Toolbar label
{
    color: #777777;
    margin: 0 2px;
    display: inline-block;
    *display: inline;
}
.Toolbar.Seperators li:after
{
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFFFFF;
    height: 40px;
    margin: 0 9px;
}

.Toolbar .Layout {
    width: auto;
}
.Toolbar h1:hover {
    text-decoration: none;
}
.Toolbar h1 {
    float: left;
    display: block;
    padding: 8px 20px 12px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    color: #999999;
}

.Toolbar button
{
    outline: none;
    display: inline-block;
    *display: inline;
    margin: 0 2px;
}	 

.Toolbar .Padding > ul,
.Toolbar > ul
{
    font-size:0;
    *font-size:0.01em;
}
.Toolbar .Padding > ul > li,
.Toolbar > ul > li
{
    font-size: 12px;
}

.Toolbar .Padding > ul button,
.Toolbar > ul button
{
    border: none;
    border-radius: 0;
    margin: 0;
}
.Toolbar button:hover
{
    background-position: 0;
    background-color: #f5f5f5;
    color: #2d6987;
    text-decoration: none;
}

.Toolbar > ul.ButtonLinks,
.Toolbar > ul.ButtonLinks li.Button ul,
.Toolbar > ul.ButtonLinks li.Button ul li a,
.Toolbar > ul.ButtonLinks > li > a,
.Toolbar > ul.ButtonLinks > li.Button > ul,
.Toolbar > ul.ButtonLinks > li.Button > ul li a
{
    color: #777777;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration: none;
}
.Toolbar > ul.ButtonLinks a
{
    color: #777777;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    outline: none;
}
.Toolbar > .Title {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}

.Toolbar > .Title:hover {
    text-decoration: none;
}

.Toolbar > ul.ButtonLinks .Active > a,
.Toolbar > ul.ButtonLinks .Active > a:hover,
.Toolbar .Padding > ul.ButtonLinks .Active > a,
.Toolbar .Padding > ul.ButtonLinks .Active > a:hover,
.Toolbar .Active > button,
.Toolbar .Active > button:hover {
    background-color: #E5E5E5;
    color: #555555;
    text-decoration: none;
}




.Toolbar form
{
    margin: 8px;
    *zoom: 1;
}
.Toolbar form:before,
.Toolbar form:after {
    display: table;
    content: "";
}
.Toolbar form:after {
    clear: both;
}
.Toolbar form input,
.Toolbar form select {
    display: inline-block;
    margin-bottom: 0;
}
.Toolbar form input[type="image"],
.Toolbar form input[type="checkbox"],
.Toolbar form input[type="radio"] {
    margin-top: 3px;
}
.Toolbar form .Append,
.Toolbar form .Prepend {
    margin-top: 6px;
    white-space: nowrap;
}
.Toolbar form .Append input,
.Toolbar form .Prepend input {
    margin-top: 0;
}

.Toolbar > .Inner,
.Toolbar > ul, 
.Toolbar .Padding > .Inner,
.Toolbar .Padding > ul 
{
    position: relative;
    left: 0;
    display: inline-block;
    *display: inline;
    margin: 0;
    padding: 0;
}
.Toolbar > ul 
.Toolbar .Padding > ul 
{
    list-style: none;
}
.Toolbar > .Padding
{
    padding: 0 20px 0 20px;
}

.Toolbar>ul>li {
    display: inline-block;
    *display: inline;
    margin: auto;
    outline: none;
}
.FullWidth
{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.Toolbar .FullWidth
{
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.NoFloat, li.NoFloat, Navbar li.NoFloat
{
    float: none;
}
.Toolbar .Padding > ul.Separated li ,
.Toolbar > ul.Separated > li {
    border-right: 1px solid #FFFFFF;
}
.Toolbar .Padding > ul.Separated > li:first-child ,
.Toolbar > ul.Separated > li:first-child
{
    border-left: none;
}
.Toolbar .Padding > ul.Separated > li:last-child ,
.Toolbar > ul.Separated > li:last-child
{
    border-right: none;
}
.Toolbar .Padding > ul.ButtonLinks li > a,
.Toolbar > ul.ButtonLinks li > a {
    display: block;
    float: none;
    line-height: 19px;
}
.Toolbar .Padding > ul.ButtonLinks li > a:hover,
.Toolbar > ul.ButtonLinks li > a:hover
{
    text-decoration: none;
    background-color: #eeeeee;
    color: #333333;
}

.Toolbar h1 {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.Toolbar.Horizontal:after
{
	clear: both;
	display: block;
	content: " ";
}
