.Tooltip:before {
    border-color: #5A8F00 rgba(0, 0, 0, 0);
    border-width: 20px 20px 0;
    bottom: -20px;
    content: "";
    display: block;
    left: 40px;
    position: absolute;
    width: 0;
}
.Tooltip:after {
    border-color: #FFFFFF rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 13px 13px 0;
    bottom: -13px;
    content: "";
    display: block;
    left: 47px;
    position: absolute;
    width: 0;
}
.Tooltip {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #5A8F00;
    border-radius: 10px 10px 10px 10px;
    color: #333333;
    padding: 15px;
    position: absolute;
    min-width: 60px;
    z-index: 999;
}

.Tooltip.Below:before {
    border-width: 0 20px 20px;
    bottom: auto;
    left: auto;
    right: 40px;
    top: -20px;
}
.Tooltip.Below:after {
    border-width: 0 13px 13px;
    bottom: auto;
    left: auto;
    right: 47px;
    top: -13px;
}
.Tooltip.RightOf:before {
    border-color: rgba(0, 0, 0, 0) #5A8F00;
    border-width: 15px 30px 15px 0;
    bottom: auto;
    left: -30px;
    top: 10px;
}
.Tooltip.RightOf:after {
    border-color: rgba(0, 0, 0, 0) #FFFFFF;
    border-width: 9px 21px 9px 0;
    bottom: auto;
    left: -21px;
    top: 16px;

}
.Tooltip.LeftOf:before {
    border-color: rgba(0, 0, 0, 0) #5A8F00;
    border-width: 15px 0 15px 30px;
    bottom: auto;
    left: auto;
    right: -30px;
    top: 10px;
}
.Tooltip.LeftOf:after {
    border-color: rgba(0, 0, 0, 0) #FFFFFF;
    border-width: 9px 0 9px 21px;
    bottom: auto;
    left: auto;
    right: -21px;
    top: 16px;
}