.Title
{
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 8px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.Tiles>li
{
    text-align: center;
    vertical-align: bottom;
    display: block;
    padding: 4px;
    overflow: hidden;
}
.Tiles>li>img
{
    display: block;
}
.Tiles
{
    position: relative;
    list-style: none outside none;
}
.Tiles.Bordered
{
    border: none;
}
.Tiles.Bordered>li
{
    border: solid 2px #dedede;
    border-radius: 3px;
}
.Tiles.Small>li,
.Tiles.Small>li>img
{
    width: 64px;
}
.Tiles.Small.Fixed>li,
.Tiles.Small.Fixed>img
{
    height: 64px;
}
.Tiles.Small.Wide>li,
.Tiles.Small.Wide>img
{
    height: 64px;
    width: 96px;
}
.Tiles.Small.Tall>li,
.Tiles.Small.Tall>img
{
    height: 96px;
    width: 64px;
}

.Tiles.Medium>li,
.Tiles.Medium>li>img
{
    width: 128px;
}
.Tiles.Medium.Fixed>li,
.Tiles.Medium.Fixed>li>img
{
    height: 128px;
}
.Tiles.Medium.Wide>li,
.Tiles.Medium.Wide>li>img
{
    height: 128px;
    width: 196px;
}
.Tiles.Medium.Tall>li,
.Tiles.Medium.Tall>li>img
{
    width: 128px;
    height: 196px;
}


.Tiles.Large>li,
.Tiles.Large>li>img
{
    width: 256px;
}
.Tiles.Large.Fixed>li,
.Tiles.Large.Fixed>li>img
{
    height: 256px;
}
.Tiles.Large.Wide>li,
.Tiles.Large.Wide>li>img
{
    height: 256px;
    width: 450px;
}
.Tiles.Large.Tall>li,
.Tiles.Large.Tall>li>img
{
    width: 256px;
    height: 450px;
}
.Tiles:before, .Tiles:after 
{
    content: "";
    display: table;
    line-height: 0;
}
.Tiles:after
{
    clear: both;
}
.Auto.Grid .Row .Tiles 
{
    margin-left: 0;
}
.Tiles > li 
{
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.Tiles > li
{
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.Tiles > li > a.Tile:hover 
{
    border-color: #0088CC;
}
.Tiles > li > img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.Tiles .Caption {
    color: #555555;
    padding: 9px;
}
.Small.Tiles .Caption {
    padding: 0px;
}
