@font-face {
  font-family: 'activewafl-glyphs';
  src: url('../font/activewafl-glyphs.eot?21448128');
  src: url('../font/activewafl-glyphs.eot?21448128#iefix') format('embedded-opentype'),
       url('../font/activewafl-glyphs.woff?21448128') format('woff'),
       url('../font/activewafl-glyphs.ttf?21448128') format('truetype'),
       url('../font/activewafl-glyphs.svg?21448128#activewafl-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'activewafl-glyphs';
    src: url('../font/activewafl-glyphs.svg?21448128#activewafl-glyphs') format('svg');
  }
}
*/
 
 [class^="Icon"]:before, [class*=" Icon"]:before {
  font-family: "activewafl-glyphs";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.IconPlusCircle:before { content: '\e92c'; } /* '' */
.IconCreditCard2:before { content: '\e925'; } /* '' */
.IconArchive:before { content: '\e92e'; } /* '' */
.IconPinDocument:before { content: '\e92f'; } /* '' */
.IconCalendarAdd:before { content: '\e930'; } /* '' */
.IconCalendarCancel:before { content: '\e931'; } /* '' */
.IconCalendarTime:before { content: '\e932'; } /* '' */
.IconCalendarCheck:before { content: '\e933'; } /* '' */
.IconCancel2:before { content: '\e934'; } /* '' */
.IconLineGraph:before { content: '\e938'; } /* '' */
.IconLineGraph2:before { content: '\e939'; } /* '' */
.IconNotesStamp:before { content: '\e93b'; } /* '' */
.IconProfilePage:before { content: '\e93c'; } /* '' */
.IconDevices:before { content: '\e93e'; } /* '' */
.IconTimeDocument:before { content: '\e941'; } /* '' */
.IconTimeline:before { content: '\e942'; } /* '' */
.IconTimeline2:before { content: '\e943'; } /* '' */
.IconGroup2:before { content: '\e944'; } /* '' */
.IconViral:before { content: '\e945'; } /* '' */
.IconCalendarTime2:before { content: '\e946'; } /* '' */
.IconCalendarRemove:before { content: '\e947'; } /* '' */
.IconSearch:before { content: '\e800'; } /* '' */
.IconMail:before { content: '\e803'; } /* '' */
.IconMailInverse:before { content: '\e911'; } /* '' */
.IconHeart:before { content: '\e805'; } /* '' */
.IconHeartInverse:before { content: '\e806'; } /* '' */
.IconStar:before { content: '\e807'; } /* '' */
.IconStarInverse:before { content: '\e808'; } /* '' */
.IconHalfStar:before { content: '\e809'; } /* '' */
.IconHalfStarInverse:before { content: '\e80a'; } /* '' */
.IconUser:before { content: '\e80b'; } /* '' */
.IconUsers:before { content: '\e80c'; } /* '' */
.IconVideo:before { content: '\e80f'; } /* '' */
.IconVideoCamera:before { content: '\e810'; } /* '' */
.IconPicture:before { content: '\e811'; } /* '' */
.IconCamera:before { content: '\e80d'; } /* '' */
.IconTiles:before { content: '\e80e'; } /* '' */
.IconGrid:before { content: '\e812'; } /* '' */
.IconTableList:before { content: '\e813'; } /* '' */
.IconCheck:before { content: '\e814'; } /* '' */
.IconCheckCircleInverse:before { content: '\e815'; } /* '' */
.IconCheckCircle:before { content: '\e816'; } /* '' */
.IconCheckSquareInverse:before { content: '\e817'; } /* '' */
.IconX:before { content: '\e818'; } /* '' */
.IconXCircleInverse:before { content: '\e819'; } /* '' */
.IconXCircle:before { content: '\e81a'; } /* '' */
.IconPlus:before { content: '\e81b'; } /* '' */
.IconPlusCircleInverse:before { content: '\e81c'; } /* '' */
.IconPlusSquareInverse:before { content: '\e81d'; } /* '' */
.IconPlusSquare:before { content: '\e81e'; } /* '' */
.IconMinus:before { content: '\e81f'; } /* '' */
.IconMinusCircleInverse:before { content: '\e820'; } /* '' */
.IconMinusSquareInverse:before { content: '\e821'; } /* '' */
.IconMinusSquare:before { content: '\e804'; } /* '' */
.IconHelp:before { content: '\e822'; } /* '' */
.IconInfo:before { content: '\e825'; } /* '' */
.IconHome:before { content: '\e826'; } /* '' */
.IconLink:before { content: '\e827'; } /* '' */
.IconUnlink:before { content: '\e828'; } /* '' */
.IconExternalLink:before { content: '\e829'; } /* '' */
.IconAttachment:before { content: '\e82b'; } /* '' */
.IconLock:before { content: '\e82c'; } /* '' */
.IconUnlock:before { content: '\e801'; } /* '' */
.IconPin:before { content: '\e82d'; } /* '' */
.IconTag:before { content: '\e82e'; } /* '' */
.IconTags:before { content: '\e82f'; } /* '' */
.IconBookmarkInverse:before { content: '\e830'; } /* '' */
.IconBookmark:before { content: '\e831'; } /* '' */
.IconFlagInverse:before { content: '\e832'; } /* '' */
.IconFlag:before { content: '\e833'; } /* '' */
.IconDownload:before { content: '\e836'; } /* '' */
.IconUpload:before { content: '\e837'; } /* '' */
.IconCloudDownload:before { content: '\e838'; } /* '' */
.IconCloudUpload:before { content: '\e839'; } /* '' */
.IconReply:before { content: '\e83a'; } /* '' */
.IconReplyAll:before { content: '\e83b'; } /* '' */
.IconForward:before { content: '\e83c'; } /* '' */
.IconQuoteLeft:before { content: '\e83d'; } /* '' */
.IconQuoteRight:before { content: '\e83e'; } /* '' */
.IconCode:before { content: '\e83f'; } /* '' */
.IconExport:before { content: '\e840'; } /* '' */
.IconExportInverse:before { content: '\e841'; } /* '' */
.IconPencil:before { content: '\e842'; } /* '' */
.IconEdit:before { content: '\e844'; } /* '' */
.IconPrint:before { content: '\e845'; } /* '' */
.IconRetweet:before { content: '\e846'; } /* '' */
.IconKeyboard:before { content: '\e847'; } /* '' */
.IconCommentInverse:before { content: '\e848'; } /* '' */
.IconChatInverse:before { content: '\e849'; } /* '' */
.IconComment:before { content: '\e84a'; } /* '' */
.IconChat:before { content: '\e84b'; } /* '' */
.IconBell:before { content: '\e84c'; } /* '' */
.IconBellInverse:before { content: '\e84d'; } /* '' */
.IconAttention:before { content: '\e84e'; } /* '' */
.IconLocation:before { content: '\e851'; } /* '' */
.IconDirection:before { content: '\e852'; } /* '' */
.IconCompass:before { content: '\e853'; } /* '' */
.IconTrash:before { content: '\e854'; } /* '' */
.IconDoc:before { content: '\e855'; } /* '' */
.IconDocs:before { content: '\e856'; } /* '' */
.IconTextFile:before { content: '\e857'; } /* '' */
.IconDocInverse:before { content: '\e858'; } /* '' */
.IconTextFileInverse:before { content: '\e859'; } /* '' */
.IconFolderInverse:before { content: '\e85a'; } /* '' */
.IconFolderOpenInverse:before { content: '\e85b'; } /* '' */
.IconFolder:before { content: '\e85c'; } /* '' */
.IconFolderOpen:before { content: '\e85d'; } /* '' */
.Iconbox:before { content: '\e92b'; } /* '' */
.IconRss:before { content: '\e85e'; } /* '' */
.IconMenu:before { content: '\e860'; } /* '' */
.IconCog:before { content: '\e861'; } /* '' */
.IconCogs:before { content: '\e862'; } /* '' */
.IconTool:before { content: '\e863'; } /* '' */
.IconCart:before { content: '\e864'; } /* '' */
.IconCalendar:before { content: '\e865'; } /* '' */
.IconCalendarBlank:before { content: '\e866'; } /* '' */
.IconInside:before { content: '\e867'; } /* '' */
.IconOutside:before { content: '\e868'; } /* '' */
.IconMic:before { content: '\e869'; } /* '' */
.IconMute:before { content: '\e86c'; } /* '' */
.IconSpeaker:before { content: '\e86a'; } /* '' */
.IconSpeakerQuiet:before { content: '\e86b'; } /* '' */
.IconSpeakerLoud:before { content: '\e86d'; } /* '' */
.IconHeadphones:before { content: '\e86e'; } /* '' */
.IconClock:before { content: '\e86f'; } /* '' */
.IconLight:before { content: '\e870'; } /* '' */
.IconForbid:before { content: '\e871'; } /* '' */
.IconResizeExpand:before { content: '\e872'; } /* '' */
.IconResizeAll:before { content: '\e873'; } /* '' */
.IconResizeContract:before { content: '\e874'; } /* '' */
.IconResizeVertical:before { content: '\e875'; } /* '' */
.IconResizeHorizontal:before { content: '\e876'; } /* '' */
.IconMove:before { content: '\e877'; } /* '' */
.IconZoomIn:before { content: '\e878'; } /* '' */
.IconZoomOut:before { content: '\e879'; } /* '' */
.IconDownCircle:before { content: '\e87a'; } /* '' */
.IconUpCircle:before { content: '\e87b'; } /* '' */
.IconLeftCircle:before { content: '\e87c'; } /* '' */
.IconRightCircle:before { content: '\e87d'; } /* '' */
.IconTriangleDown:before { content: '\e87e'; } /* '' */
.IconTriangleUp:before { content: '\e87f'; } /* '' */
.IconTriangleLeft:before { content: '\e880'; } /* '' */
.IconTriangleRight:before { content: '\e881'; } /* '' */
.IconChevronDown:before { content: '\e882'; } /* '' */
.IconChevronLeft:before { content: '\e834'; } /* '' */
.IconChevronRight:before { content: '\e883'; } /* '' */
.IconChevronUp:before { content: '\e884'; } /* '' */
.IconAngleLeft:before { content: '\e885'; } /* '' */
.IconAngleRight:before { content: '\e886'; } /* '' */
.IconAngleUp:before { content: '\e887'; } /* '' */
.IconAngleDown:before { content: '\e888'; } /* '' */
.IconAngleLeftCircle:before { content: '\e889'; } /* '' */
.IconAngleRightCircle:before { content: '\e88a'; } /* '' */
.IconAngleUpCircle:before { content: '\e88b'; } /* '' */
.IconAngleDownCircle:before { content: '\e88c'; } /* '' */
.IconDoubleAngleLeft:before { content: '\e88d'; } /* '' */
.IconDoubleAngleRight:before { content: '\e88e'; } /* '' */
.IconDoubleAngleUp:before { content: '\e88f'; } /* '' */
.IconDoubleAngleDown:before { content: '\e890'; } /* '' */
.IconDown:before { content: '\e891'; } /* '' */
.IconRight:before { content: '\e892'; } /* '' */
.IconMinusCircle:before { content: '\e92d'; } /* '' */
.IconUp:before { content: '\e894'; } /* '' */
.IconDown2:before { content: '\e895'; } /* '' */
.IconLeft2:before { content: '\e896'; } /* '' */
.IconRight2:before { content: '\e897'; } /* '' */
.IconUp2:before { content: '\e898'; } /* '' */
.IconLeftCircleInverse:before { content: '\e835'; } /* '' */
.IconRightCircleInverse:before { content: '\e899'; } /* '' */
.IconUpCircleInverse:before { content: '\e89a'; } /* '' */
.IconDownCircleInverse:before { content: '\e89b'; } /* '' */
.IconClockwise:before { content: '\e89c'; } /* '' */
.IconCounterClockwise:before { content: '\e89d'; } /* '' */
.IconRefresh:before { content: '\e89e'; } /* '' */
.IconLevelUp:before { content: '\e89f'; } /* '' */
.IconLevelDown:before { content: '\e8a0'; } /* '' */
.IconShuffle:before { content: '\e8a1'; } /* '' */
.IconExchange:before { content: '\e8a2'; } /* '' */
.IconExpand:before { content: '\e8a3'; } /* '' */
.IconCollapse:before { content: '\e8a4'; } /* '' */
.IconExpandRight:before { content: '\e8a5'; } /* '' */
.IconCollapseLeft:before { content: '\e8a6'; } /* '' */
.IconPlay:before { content: '\e8a7'; } /* '' */
.IconPlayCircleInverse:before { content: '\e8a8'; } /* '' */
.IconPlayCircle:before { content: '\e8a9'; } /* '' */
.IconStop:before { content: '\e8aa'; } /* '' */
.IconPause:before { content: '\e8ab'; } /* '' */
.IconEnd:before { content: '\e8ac'; } /* '' */
.IconEndFast:before { content: '\e8ad'; } /* '' */
.IconStart:before { content: '\e8ae'; } /* '' */
.IconStartFast:before { content: '\e8af'; } /* '' */
.IconFastForward:before { content: '\e8b0'; } /* '' */
.IconFastBackward:before { content: '\e8b1'; } /* '' */
.IconEject:before { content: '\e8b2'; } /* '' */
.IconTarget:before { content: '\e8b3'; } /* '' */
.IconSignal:before { content: '\e8b4'; } /* '' */
.IconDesktop:before { content: '\e8b5'; } /* '' */
.IconLaptop:before { content: '\e8b6'; } /* '' */
.IconTablet:before { content: '\e8b7'; } /* '' */
.IconMobile:before { content: '\e8b8'; } /* '' */
.IconInbox:before { content: '\e802'; } /* '' */
.IconGlobe:before { content: '\e8b9'; } /* '' */
.IconSun:before { content: '\e8ba'; } /* '' */
.IconCloud:before { content: '\e8bb'; } /* '' */
.IconLeaf:before { content: '\e8bc'; } /* '' */
.IconFont:before { content: '\e8bd'; } /* '' */
.IconBold:before { content: '\e8be'; } /* '' */
.IconItalic:before { content: '\e8bf'; } /* '' */
.IconTextHeight:before { content: '\e8c0'; } /* '' */
.IconTextWidth:before { content: '\e8c1'; } /* '' */
.IconAlignLeft:before { content: '\e8c2'; } /* '' */
.IconAlignCenter:before { content: '\e8c3'; } /* '' */
.IconAlignRight:before { content: '\e8c4'; } /* '' */
.IconAlignJustify:before { content: '\e8c5'; } /* '' */
.IconList:before { content: '\e8c6'; } /* '' */
.IconOutdent:before { content: '\e8c7'; } /* '' */
.IconIndent:before { content: '\e8c8'; } /* '' */
.IconBulletList:before { content: '\e8c9'; } /* '' */
.IconNumberList:before { content: '\e8ca'; } /* '' */
.IconStrike:before { content: '\e8cb'; } /* '' */
.IconUnderline:before { content: '\e8cc'; } /* '' */
.IconSuperscript:before { content: '\e8cd'; } /* '' */
.IconSubscript:before { content: '\e8ce'; } /* '' */
.IconTable:before { content: '\e8cf'; } /* '' */
.IconColumns:before { content: '\e8d0'; } /* '' */
.IconCrop:before { content: '\e8d1'; } /* '' */
.IconCut:before { content: '\e8d2'; } /* '' */
.IconPaste:before { content: '\e8e3'; } /* '' */
.IconCase:before { content: '\e8e2'; } /* '' */
.IconRowTiles:before { content: '\e8e1'; } /* '' */
.IconColumnTiles:before { content: '\e8e0'; } /* '' */
.IconOff:before { content: '\e8df'; } /* '' */
.IconIndexCard:before { content: '\e8d3'; } /* '' */
.IconQrCode:before { content: '\e8d4'; } /* '' */
.IconBarcode:before { content: '\e8d5'; } /* '' */
.IconBook:before { content: '\e8d6'; } /* '' */
.IconContrast:before { content: '\e8d7'; } /* '' */
.IconTint:before { content: '\e8d8'; } /* '' */
.IconCheckSquare:before { content: '\e8d9'; } /* '' */
.IconSquare:before { content: '\e8da'; } /* '' */
.IconCircleInverse:before { content: '\e8db'; } /* '' */
.IconCircle:before { content: '\e8dc'; } /* '' */
.IconDotCircle:before { content: '\e8dd'; } /* '' */
.IconAsterisk:before { content: '\e8de'; } /* '' */
.IconFlame:before { content: '\e8e4'; } /* '' */
.IconMagnet:before { content: '\e8e5'; } /* '' */
.IconChartBarSquare:before { content: '\e8e6'; } /* '' */
.IconTicket:before { content: '\e8e7'; } /* '' */
.IconCreditCard:before { content: '\e8e8'; } /* '' */
.IconMegaphone:before { content: '\e8e9'; } /* '' */
.IconHdd:before { content: '\e8ea'; } /* '' */
.IconKey:before { content: '\e8eb'; } /* '' */
.IconProcessFork:before { content: '\e8ec'; } /* '' */
.IconMeters-1:before { content: '\e8ed'; } /* '' */
.IconSort:before { content: '\e8ee'; } /* '' */
.IconSortDown:before { content: '\e8ef'; } /* '' */
.IconSortUp:before { content: '\e8f0'; } /* '' */
.IconIncrease:before { content: '\e8f1'; } /* '' */
.IconDecrease:before { content: '\e8f2'; } /* '' */
.IconSortAscending:before { content: '\e8f3'; } /* '' */
.IconSortDescending:before { content: '\e8f4'; } /* '' */
.IconSortNumberAscending:before { content: '\e8f5'; } /* '' */
.IconSortNumberDescending:before { content: '\e8f6'; } /* '' */
.IconSitemap:before { content: '\e8f9'; } /* '' */
.IconTerminal:before { content: '\e8f7'; } /* '' */
.IconBullseye:before { content: '\e8f8'; } /* '' */
.IconAndroid:before { content: '\e8fa'; } /* '' */
.IconApple:before { content: '\e8fb'; } /* '' */
.IconDropbox:before { content: '\e8fe'; } /* '' */
.IconFacebook:before { content: '\e8ff'; } /* '' */
.IconFacebook2:before { content: '\e900'; } /* '' */
.IconGooglePlus2:before { content: '\e906'; } /* '' */
.IconGooglePlus:before { content: '\e907'; } /* '' */
.IconInstagram:before { content: '\e909'; } /* '' */
.IconLinkedin2:before { content: '\e90a'; } /* '' */
.IconLinkedin:before { content: '\e90c'; } /* '' */
.IconPinterest:before { content: '\e910'; } /* '' */
.IconPinterest2:before { content: '\e90f'; } /* '' */
.IconTumblr:before { content: '\e915'; } /* '' */
.IconTumblr2:before { content: '\e916'; } /* '' */
.IconTwitter2:before { content: '\e90b'; } /* '' */
.IconTwitter:before { content: '\e918'; } /* '' */
.IconWeibo:before { content: '\e937'; } /* '' */
.IconWindows:before { content: '\e91b'; } /* '' */
.IconYoutube:before { content: '\e91e'; } /* '' */
.IconYoutube2:before { content: '\e91f'; } /* '' */
.IconQuoteLeft2:before { content: '\e84f'; } /* '' */
.IconQuoteRight2:before { content: '\e85f'; } /* '' */
.Iconaperture:before { content: '\e902'; } /* '' */
.IconChartBar:before { content: '\e91c'; } /* '' */
.IconChartPieBroken:before { content: '\e91a'; } /* '' */
.IconChartPie:before { content: '\e90e'; } /* '' */
.IconTag2:before { content: '\e908'; } /* '' */
.IconTools:before { content: '\e923'; } /* '' */
.IconCart2:before { content: '\e917'; } /* '' */
.IconRibbon:before { content: '\e924'; } /* '' */
.IconStar2:before { content: '\e8fc'; } /* '' */
.IconStar2Inverse:before { content: '\e8fd'; } /* '' */
.IconHalfStar2:before { content: '\e903'; } /* '' */
.IconHalfStar2Inverse:before { content: '\e904'; } /* '' */
.IconThumbnailsInverse:before { content: '\e914'; } /* '' */
.IconThumbnails:before { content: '\e919'; } /* '' */
.IconHelpCircleInverse:before { content: '\e823'; } /* '' */
.IconHelpCircle:before { content: '\e901'; } /* '' */
.IconInfoCircleInverse:before { content: '\e824'; } /* '' */
.IconInfoCircle:before { content: '\e850'; } /* '' */
.IconAttentionCircleInverse:before { content: '\e843'; } /* '' */
.IconAttentionCircle:before { content: '\e82a'; } /* '' */
.IconCoverflow:before { content: '\e905'; } /* '' */
.IconCoverflowInverse:before { content: '\e90d'; } /* '' */
.IconMathCircleInverse:before { content: '\e913'; } /* '' */
.IconMathCircle:before { content: '\e920'; } /* '' */
.IconAt:before { content: '\e926'; } /* '' */
.IconHash:before { content: '\e912'; } /* '' */
.IconWordpress:before { content: '\e91d'; } /* '' */
.IconGroup:before { content: '\e928'; } /* '' */
.IconViewMode:before { content: '\e921'; } /* '' */
.IconCheck2:before { content: '\e927'; } /* '' */
.IconCommentSquare:before { content: '\e929'; } /* '' */
.IconChatSquare:before { content: '\e92a'; } /* '' */
.IconCogs2:before { content: '\e922'; } /* '' */
.IconLeft:before { content: '\e893'; } /* '' */